In [1]:
import collector

In [2]:
main = collector.Collector('signet')

In [3]:
main._setDart('0e6e1eeb01f20f0ec7e5134b030e704764dd930e')
main._setMaria()

In [4]:
def checkFS(code, df):
    res = df[df['종목코드'] == code]['FS'].iloc[0]
    return res

def saveData(tablename, data):
    if data is None:
        return
    main.maria.insertData(tablename, data)
    main.maria.commitDB()
    
def getFloatData(data):
    return [float(d.replace(',',''))/100000000 for d in data]

def getDGData(code, df, bgn_year=2019, gb='11011'):
    fs = main.getDartFs(code, True, bgn_year, gb)
    if fs is None:
        print('{}는 api에 데이터가 없습니다'.format(code))
        main.writeError('error_dart', code, 'api에 데이터가 없음')
        return fs
    check_fs = checkFS(code, df)
    if check_fs == '연결':
        df = fs[fs['fs_div'] == 'CFS']
    else:
        df = fs[fs['fs_div'] == 'OFS']
    try:
        dg_data = getFloatData(list(df[df['account_nm'] == '당기순이익'][['frmtrm_amount', 'thstrm_amount']].iloc[0]))
    except:
        try:
            if check_fs == '연결':
                df = fs[fs['fs_div'] == 'OFS']
                print('{}를 개별에서 가져왔습니다'.format(code))
                main.writeError('error_dart', code, '연결 당기 데이터에 없어서 개별 데이터에서 가져옴')
                dg_data = getFloatData(list(df[df['account_nm'] == '당기순이익'][['frmtrm_amount', 'thstrm_amount', 'thstrm_amount']].iloc[0]))
            else:
                df = fs[fs['fs_div'] == 'CFS']
                print('{}를 연결에서 가져왔습니다'.format(code))
                main.writeError('error_dart', code, '개별 당기 데이터에 없어서 연결 데이터에서 가져옴')
                dg_data = getFloatData(list(df[df['account_nm'] == '당기순이익'][['frmtrm_amount', 'thstrm_amount', 'thstrm_amount']].iloc[0]))
        except:
            print('{}의 finstate에는 [당기순이익]이 없습니다'.format(code))
            main.writeError('error_dart', code, '[당기순이익]데이터가 없음')
            return None
    return dg_data

In [5]:
data = {}
years = ['2017', '2018', '2019', '2020']
for y in years:
    data['fn{}'.format(y)] = main.maria.showData('select * from fn{}'.format(y))
code_list = list(data['fn2017']['종목코드'])

# 당기순이익 3Q

In [6]:
res_tablename = 'dart1920_dg_1Q'
bgn_year = 2020
gb = '11013'
columns =['종목코드','2019_1Q', '2020_1Q']

main.maria.createTable(res_tablename, columns, ['VARCHAR(20)', 'FLOAT', 'FLOAT'])
done_list = main.getDoneList(res_tablename)
std_df = data['fn2017']
for code in code_list[10:]:
    if code in done_list:
        continue
    print(code)
    dg_data = getDGData(code, std_df)
    if dg_data is None:
        continue
    saveData(tablename=res_tablename, data=tuple([code]+dg_data))

    
# res_tablename = 'dart1718_dg_ha'
# bgn_year = 2018
# gb = '11012'

# mani.maria.createTable(res_tablename, ['종목코드', '2017_Ha', '2018_Ha'], ['VARCHAR(20)', 'FLOAT', 'FLOAT'])
# done_list = main.getDoneList(res_tablename)
# std_df = data['fn2017']
# for code in code_list[10:]:
#     if code in done_list:
#         continue
#     print(code)
#     dg_data = getDGData(code, std_df)
#     if dg_data is None:
#         continue
#     saveData(tablename=res_tablename, data=tuple([code]+dg_data))

CREATE TABLE dart1920_dg_1Q (종목코드 VARCHAR(20) PRIMARY KEY, 2019_1Q FLOAT, 2020_1Q FLOAT);
(1050, "Table 'dart1920_dg_1q' already exists")
000210
000220
000230
000240
000250
000270
000300
000320
000390
000430
000440
000480
000490
000500
000520
000590
000640
000650
000660
000670
000680
000700
000720
000760
000850
000860
000880
000890
000910
000950
000970
000990
001000
001020
001040
001060
001070
001080
001120
001130
001140
001210
001230
001250
001260
001340
001360
001380
001390
001420
001430
001440
001460
001470
001520
001530
001540
001550
001560
001570
001620
001630
001680
001740
001770
001780
001790
001800
001810
001820
001840
001880
001940
002020
002030
002070
002100
002100를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('002100', 96.13575137, 70.61856687, 70.61856687);
(1136, "Column count doesn't match value count at row 1")
002140
002150
002170
002200
002210
002220
002230
002240
002270
002270를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('002270', 425.40085519, 375.22773399, 375.22773399);
(1136, "Column count doesn't match value count at row 1")
002290
002300
002300는 api에 데이터가 없습니다
002310
002320
002350
002360
002380
002390
002410
002420
002450
002460
002460를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('002460', 492.27487718, 76.72692424, 76.72692424);
(1136, "Column count doesn't match value count at row 1")
002600
002620
002630
002680
002690
002700
002710
002720
002760
002780
002790
002810
002820
002840
002870
002880
002900
002920
002960
002990
003000
003010
003030
003060
003070
003080
003080를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('003080', 61.34917258, -28.68490567, -28.68490567);
(1136, "Column count doesn't match value count at row 1")
003090
003100
003120
003160
003200
003220
003230
003240
003280
003300
003310
003350
003410
003480
003490
003520
003550
003560
003570
003580
003610
003620
003650
003670
003680
003680를 연결에서 가져왔습니다
insert into dart1920_dg_1Q values ('003680', -26.32953563, -173.71195375, -173.71195375);
(1136, "Column count doesn't match value count at row 1")
003720
003720를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('003720', -68.89180584, -20.12380453, -20.12380453);
(1136, "Column count doesn't match value count at row 1")
003780
003800
003800를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('003800', 303.09785324, 442.15797914, 442.15797914);
(1136, "Column count doesn't match value count at row 1")
003830
003850
003920
003960
004000
004020
004060
004080
004090
004100
004140
004150
004170
004200
004200는 api에 데이터가 없습니다
004250
004270
004310
004360
004370
004380
004410
004430
004440
004450
004490
004540
004560
004590
004650
004690
004700
004710
004720
004770
004780
004800
004830
004840
004840를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('004840', 73.07941026, 34.84424089, 34.84424089);
(1136, "Column count doesn't match value count at row 1")
004870
004890
004910
004920
004960
004970
004980
004990
005010
005030
005070
005090
005110
005160
005180
005190
005250
005290
005300
005320
005360
005380
005380를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('005380', 4149.41, 28322.89, 28322.89);
(1136, "Column count doesn't match value count at row 1")
005390
005420
005430
005440
005450
005450는 api에 데이터가 없습니다
005490
005500
005610
005670
005680
005690
005710
005720
005740
005750
005800
005810
005820
005850
005860
005870
005880
005930
005950
005960
005990
006040
006050
006060
006090
006110
006120
006140
006200
006260
006280
006340
006360
006370
006380
006390
006400
006490
006570
006580
006650
006660
006730
006730를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('006730', -103.77413334, 0.47093632, 0.47093632);
(1136, "Column count doesn't match value count at row 1")
006740
006840
006880
006890
006910
006920
006980
007070
007110
007120
007160
007210
007280
007310
007340
007370
007390
007460
007530
007540
007570
007590
007610
007630
007660
007690
007700
007720
007770
007810
007820
007860
007980
008040
008060
008110
008250
008260
008290
008350
008370
008420
008470
008490
008500
008600
008700
008730
008770
008770를 개별에서 가져왔습니다
008770의 finstate에는 [당기순이익]이 없습니다
008800
008830
008870
008930
008970
009070
009140
009150
009160
009180
009190
009200
009240
009240를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('009240', 682.90926403, 413.43471759, 413.43471759);
(1136, "Column count doesn't match value count at row 1")
009270
009290
009300
009310
009320
009410
009420
009440
009450
009460
009470
009520
009540
009580
009620
009680
009730
009770
009780
009810
009830
009970
010040
010060
010100
010120
010130
010140
010170
010240
010280
010420
010470
010580
010600
010620
010640
010660
010690
010770
010780
010820
010950
010960
011000
011040
011070
011080
011090
011150
011160
011160는 api에 데이터가 없습니다
011170
011200
011210
011230
011280
011300
011320
011330
011370
011390
011420
011500
011560
011690
011700
011760
011780
011790
011810
011930
012030
012160
012170
012200
012280
012320
012330
012340
012450
012510
012600
012610
012620
012630
012690
012700
012750
012790
012800
012860
013000
013030
013120
013120를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('013120', 1219.42407583, 846.9689066, 846.9689066);
(1136, "Column count doesn't match value count at row 1")
013310
013360
013520
013570
013580
013700
013720
013810
013870
013990
014100
014130
014160
014190
014200
014280
014440
014470
014530
014570
014580
014620
014680
014710
014790
014820
014830
014910
014940
014970
014990
015020
015230
015260
015350
015360
015540
015590
015710
015750
015760
015860
015890
016090
016100
016250
016380
016450
016580
016590
016670
016710
016740
016800
016880
016920
017000
017040
017180
017250
017370
017390
017480
017510
017550
017650
017670
017800
017810
017890
017900
017940
017960
018000
018120
018260
018290
018310
018470
018500
018620
018670
018680
018700
018880
019010
019170
019180
019210
019440
019490
019540
019660
019680
019770
019990
020000
020120
020150
020180
020400
020560
020710
020760
021040
021050
021240
021320
021650
021820
022100
022220
023000
023150
023160
023350
023410
023440
023450
023530
023590
024810
024810를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('024810', -19.67363728, 0.75694752, 0.75694752);
(1136, "Column count doesn't match value count at row 1")
026910
027390
027390는 api에 데이터가 없습니다
028080
030270
030270는 api에 데이터가 없습니다
030350
031330
031390
031430
031440
031510
031820
031820를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('031820', 65.53667543, 10.48801839, 10.48801839);
(1136, "Column count doesn't match value count at row 1")
031860
031980
032040
032040는 api에 데이터가 없습니다
032080
032190
032280
032350
032500
032540
032560
032580
032620
032640
032680
032680를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('032680', -5.77946475, -33.76557366, -33.76557366);
(1136, "Column count doesn't match value count at row 1")
032750
032790
032800
032820
032850
032860
032940
032960
032980
033050
033100
033110
033130
033160
033170
033180
033200
033230
033240
033250
033270
033290
033310
033320
033340
033430
033500
033530
033540
033560
033600
033600는 api에 데이터가 없습니다
033640
033780
033790
033830
033920
034020
034120
034220
034230
034300
034310
034590
034730
034810
034810를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('034810', 7.56650916, 23.24752114, 23.24752114);
(1136, "Column count doesn't match value count at row 1")
034940
034950
035000
035080
035150
035200
035250
035290
035420
035460
035510
035600
035610
035620
035720
035760
035810
035890
035900
036000
036010
036030
036090
036120
036170
036180
036190
036200
036260
036260는 api에 데이터가 없습니다
036420
036460
036480
036490
036530
036540
036560
036570
036580
036620
036630
036640
036670
036690
036710
036800
036810
036830
036890
036930
037070
037230
037270
037330
037350
037370
037400
037440
037460
037560
037710
037760
037950
038010
038060
038070
038110
038160
038290
038340
038390
038460
038500
038530
038540
038620
038680
038870
038880
038950
039010
039020
039030
039130
039200
039230
039240
039290
039310
039340
039420
039440
039560
039570
039610
039670
039740
039830
039840
039860
039980
040160
040300
040350
040420
040610
040910
041020
041140
041440
041460
041460를 개별에서 가져왔습니다
041460의 finstate에는 [당기순이익]이 없습니다
041510
041520
041590
041650
041830
041910
041920
041930
041960
042040
042110
042370
042420
042500

042510
042520
042600
042660
042670
042700
042940
043090
043090를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('043090', -54.04306316, -79.51010657, -79.51010657);
(1136, "Column count doesn't match value count at row 1")
043100
043150
043200
043220
043260
043290
043340
043360
043370
043590
043610
043650
043710
043910
044060
044180
044340
044380
044450
044480
044490
044780
044820
044960
044990
044990는 api에 데이터가 없습니다
045060
045100
045300
045340
045390
045510
045520
045660
045890
045970
046070
046110
046120
046140
046210
046310
046390
046440
046890
046940
046970
047040
047050
047080
047310
047400
047560
047770
047810
047820
047920
048260
048410
048430
048470
048530
048550
048770
048830
048870
048910
049070
049080
049120
049180
049430
049470
049480
049520
049550
049630
049720
049770
049800
049830
049950
049960
050090
050110
050120
050320
050540
050760
050860
050890
050960
050960를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('050960', 31.2014538, 29.03089273, 29.03089273);
(1136, "Column count doesn't match value count at row 1")
051160
051360
051370
051380
051390
051490
051500
051600
051630
051780
051900
051910
051980
052020
052190
052220
052260
052300
052330
052400
052420
052460
052600
052670
052690
052690를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('052690', 129.36840853, 263.97847129, 263.97847129);
(1136, "Column count doesn't match value count at row 1")
052710
052770
052790
052860
052900
053030
053050
053060
053110
053160
053210
053260
053270
053280
053290
053300
053350
053450
053590
053610
053620
053660
053690
053700
053800
053950
053980
054040
054050
054090
054180
054210
054220
054220를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('054220', -223.39961889, -1163.87167708, -1163.87167708);
(1136, "Column count doesn't match value count at row 1")
054300
054340
054340는 api에 데이터가 없습니다
054410
054450
054540
054620
054630
054670
054780
054800
054920
054930
054940
054950
056000
056000를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('056000', -6.24207723, -32.19239831, -32.19239831);
(1136, "Column count doesn't match value count at row 1")
056080
056090
056190
056360
056700
056730
057030
057050
057500
057500는 api에 데이터가 없습니다
057540
057680
057880
058110
058220
058400
058420
058430
058450
058470
058530
058610
058630
058650
058730
058820
058850
058860
058970
058970는 api에 데이터가 없습니다
059090
059100
059120
059210
060150
060230
060240
060250
060260
060260를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('060260', -18.80017727, 18.03528537, 18.03528537);
(1136, "Column count doesn't match value count at row 1")
060280
060300
060310
060370
060380
060480
060540
060560
060570
060590
060720
060900
060980
061040
061250
061970
062860
063080
063160
063170
063440
063570
063760
064090
064240
064260
064290
064350
064480
064520
064550
064760
064800
064820
064850
064960
065060
065130
065150
065170
065350
065420
065440
065450
065500
065510
065530
065560
065570
065620
065650
065660
065680
065690
065710
065770
065940
065940는 api에 데이터가 없습니다
065950
066110
066130
066310
066410
066430
066570
066590
066620
066670
066670를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('066670', 29.96125679, 53.93285761, 53.93285761);
(1136, "Column count doesn't match value count at row 1")
066700
066790
066830
066830는 api에 데이터가 없습니다
066900
066910
066970
066980
067000
067010
067080
067160
067170
067280
067280를 개별에서 가져왔습니다
067280의 finstate에는 [당기순이익]이 없습니다
067290
067310
067370
067370는 api에 데이터가 없습니다
067390
067570
067630
067730
067770
067830
067900
067920
067990
068050
068240
068270
068290
068330
068400
068760
068790
068930
068940
069080
069110
069140
069260
069330
069410
069460
069510
069540
069620
069640
069730
069920
069960
070300
070590
070960
071090
071200
071280
071320
071460
071670
071840
071850
071950
071970
072020
072130
072470
072520
072710
072770
072870
072950
072990
073010
073070
073110
073190
073240
073490
073540
073560
073570
073640
074430
074600
074610
075130
075180
075580
075970
076080
076340
076340는 api에 데이터가 없습니다
076610
077360
077500
077970
078000
078070
078130
078130는 api에 데이터가 없습니다
078140
078150
078160
078340
078350
078520
078590
078600
078650
078860
078890
078930
078940
079000
079160
079170
079190
079370
079430
079550
079650
079810
079940
079950
079960
079970
079980
080000
080010
080160
080220
080420
080440
080470
080520
080530
080580
081000
081150
081580
081660
082210
082270
082660
082660를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('082660', -494.56748102, -289.04050861, -289.04050861);
(1136, "Column count doesn't match value count at row 1")
082740
082800
082850
082920
083310
083370
083370는 api에 데이터가 없습니다
083380
083380는 api에 데이터가 없습니다
083420
083450
083470
083550
083640
083650
083660
083790
083930
084010
084110
084180
084180를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('084180', -133.92493335, -60.62306541, -60.62306541);
(1136, "Column count doesn't match value count at row 1")
084370
084650
084650를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('084650', -39.72844225, 9.62421557, 9.62421557);
(1136, "Column count doesn't match value count at row 1")
084670
084680
084690
084730
084870
084990
085310
085370
085660
085670
085810
085910
086040
086060
086220
086220는 api에 데이터가 없습니다
086250
086250를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('086250', -75.12376665, 0.0, 0.0);
(1136, "Column count doesn't match value count at row 1")
086280
086390
086450
086460
086460는 api에 데이터가 없습니다
086520
086670
086890
086900
086960
086980
087010
087600
087730
088130
088290
088390
088790
088800
088910
089010
089030
089140
089150
089230
089470
089530
089590
089600
089790
089850
089890
089980
090080
090150
090350
090360
090370
090410
090430
090460
090470
090710
090740
090850
091090
091120
091340
091440
091580
091590
091700
091970
092040
092070
092070를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('092070', 141.16308532, 22.31167286, 22.31167286);
(1136, "Column count doesn't match value count at row 1")
092130
092200
092220
092230
092300
092440
092460
092590
092590는 api에 데이터가 없습니다
092600
092730
092870
093050
093190
093230
093240
093320
093370
093380
093520
093640
093920
094170
094190
094190는 api에 데이터가 없습니다
094280
094360
094480
094820
094840
094850
094860
094940
094970
095190
095270
095340
095500
095570
095610
095660
095700
095700를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('095700', -340.66759817, -165.09197492, -165.09197492);
(1136, "Column count doesn't match value count at row 1")
095720
095910
096040
096240
096350
096530
096610
096630
096640
096690
096760
096770
096870
097230
097520
097780
097800
097870
097950
098120
098460
098660
099190
099220
099320
099410
099440
099520
100030
100090
100120
100130
100220
100250
100660
100700
100840
101000
101060
101140
101160
101170
101170를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('101170', 42.23544859, -6.6657149, -6.6657149);
(1136, "Column count doesn't match value count at row 1")
101240
101330
101360
101360는 api에 데이터가 없습니다
101390
101400
101490
101490를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('101490', 46.22717852, 100.98863172, 100.98863172);
(1136, "Column count doesn't match value count at row 1")
101530
101670
101680
101730
101930
102120
102210
102260
102280
102460
102710
102940
103130
103130는 api에 데이터가 없습니다
103140
103230
103590
103660
103660는 api에 데이터가 없습니다
104040
104200
104460
104480
104540
104700
104830
105330
105550
105630
105740
105840
106080
106190
106240
106520
107590
107640
107640는 api에 데이터가 없습니다
108230
108320
108380
108670
108790
108790는 api에 데이터가 없습니다
108860
109070
109080
109610
109740
109820
109860
109960
111770
111820
111870
112040
112190
112190는 api에 데이터가 없습니다
112240
112240는 api에 데이터가 없습니다
112610
113810
114090
114120
114190
114450
114570
114630
114810
114920
114920는 api에 데이터가 없습니다
115160
115180
115180를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('115180', -164.15136844, -226.97843924, -226.97843924);
(1136, "Column count doesn't match value count at row 1")
115310
115390
115440
115450
115480
115500
115530
115570
115610
115960
116100
116100는 api에 데이터가 없습니다
117580
117670
118000
119500
119610
119650
119830
119850
119860
120030
120110
120240
120780
120780는 api에 데이터가 없습니다
121060
121060는 api에 데이터가 없습니다
121440
121600
121800
121850
121890
122350
122450
122640
122690
122870
122900
122990
123010
123040
123260

123260는 api에 데이터가 없습니다
123330
123410
123420
123570
123690
123700
123750
123840
123860
124500
126340
126340는 api에 데이터가 없습니다
126560
126600
126640
126700
126870
126880
127120
127160
127710
128660
128820
128940
129260
130500
130580
130660
130740
131030
131090
131100
131180
131220
131290
131370
131390
131400
131760
131970
133750
133820
134060
134380
134580
134780
134780는 api에 데이터가 없습니다
134790
135160
135160는 api에 데이터가 없습니다
136480
136490
136510
136540
136660
136660는 api에 데이터가 없습니다
137400
137940
137950
138070
138080
138250
138360
138490
138610
138690
139050
139480
139670
140290
140290는 api에 데이터가 없습니다
140410
140520
140660
140660는 api에 데이터가 없습니다
140860
140910
141000
141020
141020는 api에 데이터가 없습니다
141070
141080
142210
142280
142760
143160
143210
143240
143540
144510
144620
144960
145020
145210
145270
145990
147760
147830
148250
148780
148780는 api에 데이터가 없습니다
149010
149010는 api에 데이터가 없습니다
149940
149940는 api에 데이터가 없습니다
149950
149980
150440
150440는 api에 데이터가 없습니다
150840
150900
151860
151910
152330
152330는 api에 데이터가 없습니다
153360
153460
153490
154030
154040
155650
155660
155900
156100
158300
158300는 api에 데이터가 없습니다
158310
159580
159650
159650는 api에 데이터가 없습니다
159910
160550
160600
160980
161000
161390
161570
161890
163560
166480
168330
170030
170790
170900
170920
171010
171120
172580
173130
173940
174880
175140
176440
176750
176750는 api에 데이터가 없습니다
177350
177830
178600
178600는 api에 데이터가 없습니다
178780
178920
179720
179720는 api에 데이터가 없습니다
180400
180640
181710
182360
182400
182690
183190
183350
183350는 api에 데이터가 없습니다
183490
184230
185190
185190는 api에 데이터가 없습니다
185490
185750
186230
186230를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('186230', 22.13241432, 24.35883488, 24.35883488);
(1136, "Column count doesn't match value count at row 1")
187220
187270
187420
187790
189300
189330
189330는 api에 데이터가 없습니다
189350
189350는 api에 데이터가 없습니다
189540
189540는 api에 데이터가 없습니다
189690
189860
189980
190510
191410
191420
191600
191600는 api에 데이터가 없습니다
192080
192250
192390
192400
192410
192410를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('192410', -56.06227254, 2.1237341, 2.1237341);
(1136, "Column count doesn't match value count at row 1")
192440
192820
193250
194370
194480
194510
194510는 api에 데이터가 없습니다
195440
195870
195990
195990를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('195990', -114.98244924, -316.4441996, -316.4441996);
(1136, "Column count doesn't match value count at row 1")
196170
196300
196450
196490
196700
197140
197210
197210는 api에 데이터가 없습니다
198440
199150
199150는 api에 데이터가 없습니다
199290
199290는 api에 데이터가 없습니다
199800
199800는 api에 데이터가 없습니다
200130
200230
200350
200350는 api에 데이터가 없습니다
200470
200580
200580는 api에 데이터가 없습니다
200670
200710
200780
200880
201490
202960
202960는 api에 데이터가 없습니다
203400
203400는 api에 데이터가 없습니다
203450
203650
203690
204210
204320
204620
204630
204840
204990
204990는 api에 데이터가 없습니다
205100
205470
205470를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('205470', -8.52809544, -12.26234515, -12.26234515);
(1136, "Column count doesn't match value count at row 1")
205500
206400
206560
206640
206950
206950는 api에 데이터가 없습니다
207760
207940
207940를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('207940', 2241.09194872, 2029.04099088, 2029.04099088);
(1136, "Column count doesn't match value count at row 1")
208140
208350
208370
208640
208710
208850
208850는 api에 데이터가 없습니다
208860
208890
208890는 api에 데이터가 없습니다
210120
210120는 api에 데이터가 없습니다
210540
210980
211050
211050는 api에 데이터가 없습니다
211270
212310
212310는 api에 데이터가 없습니다
212560
213090
213420
213500
214150
214180
214270
214310
214320
214330
214370
214390
214420
214430
214450
214610
214610는 api에 데이터가 없습니다
214680
214870
215000
215050
215050는 api에 데이터가 없습니다
215090
215100
215200
215360
215380
215480
215570
215570는 api에 데이터가 없습니다
215600
215790
216050
216280
216280는 api에 데이터가 없습니다
216400
216400는 api에 데이터가 없습니다
217190
217270
217320
217320는 api에 데이터가 없습니다
217500
217500를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('217500', 0.41421789, 42.08125484, 42.08125484);
(1136, "Column count doesn't match value count at row 1")
217600
217620
217730
217820
217880
217880는 api에 데이터가 없습니다
217950
217950는 api에 데이터가 없습니다
218150
218410
219130
219420
219550
219750
220100
220110
220110는 api에 데이터가 없습니다
220180
220250
220250는 api에 데이터가 없습니다
220260
220630
221610
221800
221800는 api에 데이터가 없습니다
221840
221980
222040
222080
222110
222160
222160는 api에 데이터가 없습니다
222420
222670
222670는 api에 데이터가 없습니다
222800
222810
222980
223220
223220는 api에 데이터가 없습니다
223310
224020
224020는 api에 데이터가 없습니다
224060
224110
224760
224760는 api에 데이터가 없습니다
224810
224810는 api에 데이터가 없습니다
225220
225220는 api에 데이터가 없습니다
225330
225430
225530
225570
225590
225850
225850는 api에 데이터가 없습니다
226320
226340
226350
226360
226400
226440
227420
227420는 api에 데이터가 없습니다
227840
227950
228180
228180는 api에 데이터가 없습니다
228340
228760
228760를 개별에서 가져왔습니다
insert into dart1920_dg_1Q values ('228760', -24.84448582, -101.94765928, -101.94765928);
(1136, "Column count doesn't match value count at row 1")
228850
229000
229000는 api에 데이터가 없습니다
229500
229500는 api에 데이터가 없습니다
229640
230240
230360
230980
232140
232530
232530는 api에 데이터가 없습니다
232680
232680는 api에 데이터가 없습니다
232830
232830는 api에 데이터가 없습니다
233990
233990는 api에 데이터가 없습니다
234070
234070는 api에 데이터가 없습니다
234080
234100
234920
236200
236340
236340는 api에 데이터가 없습니다
237690
237750
237880
238090
238120
238500
238500는 api에 데이터가 없습니다
239340
239610
239890
239890는 api에 데이터가 없습니다
240340
240340는 api에 데이터가 없습니다
240810
241510
241510는 api에 데이터가 없습니다
241560
241590
241690
241710
241790
242040
242350
242350는 api에 데이터가 없습니다
243070
243870
243870는 api에 데이터가 없습니다
245450
245450는 api에 데이터가 없습니다
246250
246250는 api에 데이터가 없습니다
248170
249420
250060
250930
251280
251280는 api에 데이터가 없습니다
251960
251960는 api에 데이터가 없습니다
252500
253840
254120
256840
256940
258250
258250는 api에 데이터가 없습니다
258540
258540는 api에 데이터가 없습니다
260970
260970는 api에 데이터가 없습니다
900040
900040는 api에 데이터가 없습니다
900070
900080
900100
900110
900120
900140
900250
900260
900270
900280
900290
900300
950110
950130
950140

In [7]:
res_tablename = 'dart1718_dg_ha'
bgn_year = 2018
gb = '11012'
columns =['종목코드','2017_ha', '2018_ha']

main.maria.createTable(res_tablename, columns, ['VARCHAR(20)', 'FLOAT', 'FLOAT'])
done_list = main.getDoneList(res_tablename)
std_df = data['fn2017']
for code in code_list:
    if code in done_list:
        continue
    print(code)
    dg_data = getDGData(code, std_df)
    if dg_data is None:
        continue
    saveData(tablename=res_tablename, data=tuple([code]+dg_data))

000020
000040
000050
000070
000080
000100
000120
000140
000150
000180
000210
000220
000230
000240
000250
000270
000300
000320
000390
000430
000440
000480
000490
000500
000520
000590
000640
000650
000660
000670
000680
000700
000720
000760
000850
000860
000880
000890
000910
000950
000970
000990
001000
001020
001040
001060
001070
001080
001120
001130
001140
001210
001230
001250
001260
001340
001360
001380
001390
001420
001430
001440
001460
001470
001520
001530
001540
001550
001560
001570
001620
001630
001680
001740
001770
001780
001790
001800
001810
001820
001840
001880
001940
002020
002030
002070
002100
002100를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('002100', 96.13575137, 70.61856687, 70.61856687);
(1136, "Column count doesn't match value count at row 1")
002140
002150
002170
002200
002210
002220
002230
002240
002270
002270를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('002270', 425.40085519, 375.22773399, 375.22773399);
(1136, "Column count doesn't match value count at row 1")
002290
002300
002300는 api에 데이터가 없습니다
002310
002320
002350
002360
002380
002390
002410
002420
002450
002460
002460를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('002460', 492.27487718, 76.72692424, 76.72692424);
(1136, "Column count doesn't match value count at row 1")
002600
002620
002630
002680
002690
002700
002710
002720
002760
002780
002790
002810
002820
002840
002870
002880
002900
002920
002960
002990
003000
003010
003030
003060
003070
003080
003080를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('003080', 61.34917258, -28.68490567, -28.68490567);
(1136, "Column count doesn't match value count at row 1")
003090
003100
003120
003160
003200
003220
003230
003240
003280
003300
003310
003350
003410
003480
003490
003520
003550
003560
003570
003580
003610
003620
003650
003670
003680
003680를 연결에서 가져왔습니다
insert into dart1718_dg_ha values ('003680', -26.32953563, -173.71195375, -173.71195375);
(1136, "Column count doesn't match value count at row 1")
003720
003720를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('003720', -68.89180584, -20.12380453, -20.12380453);
(1136, "Column count doesn't match value count at row 1")
003780
003800
003800를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('003800', 303.09785324, 442.15797914, 442.15797914);
(1136, "Column count doesn't match value count at row 1")
003830
003850
003920
003960
004000
004020
004060
004080
004090
004100
004140
004150
004170
004200
004200는 api에 데이터가 없습니다
004250
004270
004310
004360
004370
004380
004410
004430
004440
004450
004490
004540
004560
004590
004650
004690
004700
004710
004720
004770
004780
004800
004830
004840
004840를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('004840', 73.07941026, 34.84424089, 34.84424089);
(1136, "Column count doesn't match value count at row 1")
004870
004890
004910
004920
004960
004970
004980
004990
005010
005030
005070
005090
005110
005160
005180
005190
005250
005290
005300
005320
005360
005380
005380를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('005380', 4149.41, 28322.89, 28322.89);
(1136, "Column count doesn't match value count at row 1")
005390
005420
005430
005440
005450
005450는 api에 데이터가 없습니다
005490
005500
005610
005670
005680
005690
005710
005720
005740
005750
005800
005810
005820
005850
005860
005870
005880
005930
005950
005960
005990
006040
006050
006060
006090
006110
006120
006140
006200
006260
006280
006340
006360
006370
006380
006390
006400
006490
006570
006580
006650
006660
006730
006730를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('006730', -103.77413334, 0.47093632, 0.47093632);
(1136, "Column count doesn't match value count at row 1")
006740
006840
006880
006890
006910
006920
006980
007070
007110
007120
007160
007210
007280
007310
007340
007370
007390
007460
007530
007540
007570
007590
007610
007630
007660
007690
007700
007720
007770
007810
007820
007860
007980
008040
008060
008110
008250
008260
008290
008350
008370
008420
008470
008490
008500
008600
008700
008730
008770
008770를 개별에서 가져왔습니다
008770의 finstate에는 [당기순이익]이 없습니다
008800
008830
008870
008930
008970
009070
009140
009150
009160
009180
009190
009200
009240
009240를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('009240', 682.90926403, 413.43471759, 413.43471759);
(1136, "Column count doesn't match value count at row 1")
009270
009290
009300
009310
009320
009410
009420
009440
009450
009460
009470
009520
009540
009580
009620
009680
009730
009770
009780
009810
009830
009970
010040
010060
010100
010120
010130
010140
010170
010240
010280
010420
010470
010580
010600
010620
010640
010660
010690
010770
010780
010820
010950
010960
011000
011040
011070
011080
011090
011150
011160
011160는 api에 데이터가 없습니다
011170
011200
011210
011230
011280
011300
011320
011330
011370
011390
011420
011500
011560
011690
011700
011760
011780
011790
011810
011930
012030
012160
012170
012200
012280
012320
012330
012340
012450
012510
012600
012610
012620
012630
012690
012700
012750
012790
012800
012860
013000
013030
013120
013120를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('013120', 1219.42407583, 846.9689066, 846.9689066);
(1136, "Column count doesn't match value count at row 1")
013310
013360
013520
013570
013580
013700
013720
013810
013870
013990
014100
014130
014160
014190
014200
014280
014440
014470
014530
014570
014580
014620
014680
014710
014790
014820
014830
014910
014940
014970
014990
015020
015230
015260
015350
015360
015540
015590
015710
015750
015760
015860
015890
016090
016100
016250
016380
016450
016580
016590
016670
016710
016740
016800
016880
016920
017000
017040
017180
017250
017370
017390
017480
017510
017550
017650
017670
017800
017810
017890
017900
017940
017960
018000
018120
018260
018290
018310
018470
018500
018620
018670
018680
018700
018880
019010
019170
019180
019210
019440
019490
019540
019660
019680
019770
019990
020000
020120
020150
020180
020400
020560
020710
020760
021040
021050
021240
021320
021650
021820
022100
022220
023000
023150
023160
023350
023410
023440
023450
023530
023590
023600
023770
023790
023800
023810
023890
023900
023910
023960
024060
024070
024090
024120
024720
024740
024800
024810
024810를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('024810', -19.67363728, 0.75694752, 0.75694752);
(1136, "Column count doesn't match value count at row 1")
024830
024840
024850
024880
024890
024900
024910
024940
024950
025000
025320
025440
025530
025540
025550
025560
025620
025750
025770
025820
025860
025870
025880
025890
025900
025950
025980
026040
026150
026890
026910
026940
026960
027040
027050
027390
027390는 api에 데이터가 없습니다
027410
027580
027710
027740
027970
028040
028050
028080
028100
028150
028260
028300
028670
029460
029480
029530
029960
030000
030190
030200
030270
030270는 api에 데이터가 없습니다
030350
030520
030530
030720
030790
030960
031310
031330
031390
031430
031440
031510
031820
031820를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('031820', 65.53667543, 10.48801839, 10.48801839);
(1136, "Column count doesn't match value count at row 1")
031860
031980
032040
032040는 api에 데이터가 없습니다
032080
032190
032280
032350
032500
032540
032560
032580
032620
032640
032680
032680를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('032680', -5.77946475, -33.76557366, -33.76557366);
(1136, "Column count doesn't match value count at row 1")
032750
032790
032800
032820
032850
032860
032940
032960
032980
033050
033100
033110
033130
033160
033170
033180
033200
033230
033240
033250
033270
033290
033310
033320
033340
033430
033500
033530
033540
033560
033600
033600는 api에 데이터가 없습니다
033640
033780
033790
033830
033920
034020
034120
034220
034230
034300
034310
034590
034730
034810
034810를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('034810', 7.56650916, 23.24752114, 23.24752114);
(1136, "Column count doesn't match value count at row 1")
034940
034950
035000
035080
035150
035200
035250
035290
035420
035460
035510
035600
035610
035620
035720
035760
035810
035890
035900
036000
036010
036030
036090
036120
036170
036180
036190
036200
036260
036260는 api에 데이터가 없습니다
036420
036460
036480
036490
036530
036540
036560
036570
036580
036620
036630
036640
036670
036690
036710
036800
036810
036830
036890
036930
037070
037230
037270
037330
037350
037370
037400
037440
037460
037560
037710
037760
037950
038010
038060
038070
038110

038160
038290
038340
038390
038460
038500
038530
038540
038620
038680
038870
038880
038950
039010
039020
039030
039130
039200
039230
039240
039290
039310
039340
039420
039440
039560
039570
039610
039670
039740
039830
039840
039860
039980
040160
040300
040350
040420
040610
040910
041020
041140
041440
041460
041460를 개별에서 가져왔습니다
041460의 finstate에는 [당기순이익]이 없습니다
041510
041520
041590
041650
041830
041910
041920
041930
041960
042040
042110
042370
042420
042500
042510
042520
042600
042660
042670
042700
042940
043090
043090를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('043090', -54.04306316, -79.51010657, -79.51010657);
(1136, "Column count doesn't match value count at row 1")
043100
043150
043200
043220
043260
043290
043340
043360
043370
043590
043610
043650
043710
043910
044060
044180
044340
044380
044450
044480
044490
044780
044820
044960
044990
044990는 api에 데이터가 없습니다
045060
045100
045300
045340
045390
045510
045520
045660
045890
045970
046070
046110
046120
046140
046210
046310
046390
046440
046890
046940
046970
047040
047050
047080
047310
047400
047560
047770
047810
047820
047920
048260
048410
048430
048470
048530
048550
048770
048830
048870
048910
049070
049080
049120
049180
049430
049470
049480
049520
049550
049630
049720
049770
049800
049830
049950
049960
050090
050110
050120
050320
050540
050760
050860
050890
050960
050960를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('050960', 31.2014538, 29.03089273, 29.03089273);
(1136, "Column count doesn't match value count at row 1")
051160
051360
051370
051380
051390
051490
051500
051600
051630
051780
051900
051910
051980
052020
052190
052220
052260
052300
052330
052400
052420
052460
052600
052670
052690
052690를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('052690', 129.36840853, 263.97847129, 263.97847129);
(1136, "Column count doesn't match value count at row 1")
052710
052770
052790
052860
052900
053030
053050
053060
053060는 api에 데이터가 없습니다
053110
053160
053210
053260
053270
053280
053290
053300
053350
053450
053590
053610
053620
053660
053690
053700
053800
053950
053980
054040
054050
054090
054180
054210
054220
054220를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('054220', -223.39961889, -1163.87167708, -1163.87167708);
(1136, "Column count doesn't match value count at row 1")
054300
054340
054340는 api에 데이터가 없습니다
054410
054450
054540
054620
054630
054670
054780
054800
054920
054930
054940
054950
056000
056000를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('056000', -6.24207723, -32.19239831, -32.19239831);
(1136, "Column count doesn't match value count at row 1")
056080
056090
056190
056360
056700
056730
057030
057050
057500
057500는 api에 데이터가 없습니다
057540
057680
057880
058110
058220
058400
058420
058430
058450
058470
058530
058610
058630
058650
058730
058820
058850
058860
058970
058970는 api에 데이터가 없습니다
059090
059100
059120
059210
060150
060230
060240
060250
060260
060260를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('060260', -18.80017727, 18.03528537, 18.03528537);
(1136, "Column count doesn't match value count at row 1")
060280
060300
060310
060370
060380
060480
060540
060560
060570
060590
060720
060900
060980
061040
061250
061970
062860
063080
063160
063170
063440
063570
063760
064090
064240
064260
064290
064350
064480
064520
064550
064760
064800
064820
064850
064960
065060
065130
065150
065170
065350
065420
065440
065450
065500
065510
065530
065560
065570
065620
065650
065660
065680
065690
065710
065770
065940
065940는 api에 데이터가 없습니다
065950
066110
066130
066310
066410
066430
066570
066590
066620
066670
066670를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('066670', 29.96125679, 53.93285761, 53.93285761);
(1136, "Column count doesn't match value count at row 1")
066700
066790
066830
066830는 api에 데이터가 없습니다
066900
066910
066970
066980
067000
067010
067080
067160
067170
067280
067280를 개별에서 가져왔습니다
067280의 finstate에는 [당기순이익]이 없습니다
067290
067310
067370
067370는 api에 데이터가 없습니다
067390
067570
067630
067730
067770
067830
067900
067920
067990
068050
068240
068270
068290
068330
068400
068760
068790
068930
068940
069080
069110
069140
069260
069330
069410
069460
069510
069540
069620
069640
069730
069920
069960
070300
070590
070960
071090
071200
071280
071320
071460
071670
071840
071850
071950
071970
072020
072130
072470
072520
072710
072770
072870
072950
072990
073010
073070
073110
073190
073240
073490
073540
073560
073570
073640
074430
074600
074610
075130
075180
075580
075970
076080
076340
076340는 api에 데이터가 없습니다
076610
077360
077500
077970
078000
078070
078130
078140
078150
078160
078340
078350
078520
078590
078600
078650
078860
078890
078930
078940
079000
079160
079170
079190
079370
079430
079550
079650
079810
079940
079950
079960
079970
079980
080000
080010
080160
080220
080420
080440
080470
080520
080530
080580
081000
081150
081580
081660
082210
082270
082660
082660를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('082660', -494.56748102, -289.04050861, -289.04050861);
(1136, "Column count doesn't match value count at row 1")
082740
082800
082850
082920
083310
083370
083370는 api에 데이터가 없습니다
083380
083380는 api에 데이터가 없습니다
083420
083450
083470
083550
083640
083650
083660
083790
083930
084010
084110
084180
084180를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('084180', -133.92493335, -60.62306541, -60.62306541);
(1136, "Column count doesn't match value count at row 1")
084370
084650
084650를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('084650', -39.72844225, 9.62421557, 9.62421557);
(1136, "Column count doesn't match value count at row 1")
084670
084680
084690
084730
084870
084990
085310
085370
085660
085670
085810
085910
086040
086060
086220
086220는 api에 데이터가 없습니다
086250
086250를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('086250', -75.12376665, 0.0, 0.0);
(1136, "Column count doesn't match value count at row 1")
086280
086390
086450
086460
086460는 api에 데이터가 없습니다
086520
086670
086890
086900
086960
086980
087010
087600
087730
088130
088290
088390
088790
088800
088910
089010
089030
089140
089150
089230
089470
089530
089590
089600
089790
089850
089890
089980
090080
090150
090350
090360
090370
090410
090430
090460
090470
090710
090740
090850
091090
091120
091340
091440
091580
091590
091700
091970
092040
092070
092070를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('092070', 141.16308532, 22.31167286, 22.31167286);
(1136, "Column count doesn't match value count at row 1")
092130
092200
092220
092230
092300
092440
092460
092590
092590는 api에 데이터가 없습니다
092600
092730
092870
093050
093190
093230
093240
093320
093370
093380
093520
093640
093920
094170
094190
094190는 api에 데이터가 없습니다
094280
094360
094480
094820
094840
094850
094860
094940
094970
095190
095270
095340
095500
095570
095610
095660
095700
095700를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('095700', -340.66759817, -165.09197492, -165.09197492);
(1136, "Column count doesn't match value count at row 1")
095720
095910
096040
096240
096350
096530
096610
096630
096640
096690
096760
096770
096870
097230
097520
097780
097800
097870
097950
098120
098460
098660
099190
099220
099320
099410
099440
099520
100030
100090
100120
100130
100220
100250
100660
100700
100840
101000
101060
101140
101160
101170
101170를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('101170', 42.23544859, -6.6657149, -6.6657149);
(1136, "Column count doesn't match value count at row 1")
101240
101330
101360
101360는 api에 데이터가 없습니다
101390
101400
101490
101490를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('101490', 46.22717852, 100.98863172, 100.98863172);
(1136, "Column count doesn't match value count at row 1")
101530
101670
101680
101730
101930
102120
102210
102260
102280
102460
102710
102940
103130
103130는 api에 데이터가 없습니다
103140
103230
103590
103660
103660는 api에 데이터가 없습니다
104040
104200
104460
104480
104540
104700
104830
105330
105550
105630
105740
105840
106080
106190
106240
106520
107590
107640
107640는 api에 데이터가 없습니다
108230
108320
108380
108670
108790
108790는 api에 데이터가 없습니다
108860
109070
109080
109610
109740
109820
109860
109960
111770
111820
111870
112040
112190
112190는 api에 데이터가 없습니다
112240
112240는 api에 데이터가 없습니다
112610
113810
114090
114120
114190
114450
114570
114630
114810
114920
114920는 api에 데이터가 없습니다
115160
115180
115180를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('115180', -164.15136844, -226.97843924, -226.97843924);
(1136, "Column count doesn't match value count at row 1")
115310

115390
115440
115450
115480
115500
115530
115570
115610
115960
116100
116100는 api에 데이터가 없습니다
117580
117670
118000
119500
119610
119650
119830
119850
119860
120030
120110
120240
120780
120780는 api에 데이터가 없습니다
121060
121060는 api에 데이터가 없습니다
121440
121600
121800
121850
121890
122350
122450
122640
122690
122870
122900
122990
123010
123040
123260
123260는 api에 데이터가 없습니다
123330
123410
123420
123570
123690
123700
123750
123840
123860
124500
126340
126340는 api에 데이터가 없습니다
126560
126600
126640
126700
126870
126880
127120
127160
127710
128660
128820
128940
129260
130500
130580
130660
130740
131030
131090
131100
131180
131220
131290
131370
131390
131400
131760
131970
133750
133820
134060
134380
134580
134780
134780는 api에 데이터가 없습니다
134790
135160
135160는 api에 데이터가 없습니다
136480
136490
136510
136540
136660
136660는 api에 데이터가 없습니다
137400
137940
137950
138070
138080
138250
138360
138490
138610
138690
139050
139480
139670
140290
140290는 api에 데이터가 없습니다
140410
140520
140660
140660는 api에 데이터가 없습니다
140860
140910
141000
141020
141020는 api에 데이터가 없습니다
141070
141080
142210
142280
142760
143160
143210
143240
143540
144510
144620
144960
145020
145210
145270
145990
147760
147830
148250
148780
148780는 api에 데이터가 없습니다
149010
149010는 api에 데이터가 없습니다
149940
149940는 api에 데이터가 없습니다
149950
149980
150440
150440는 api에 데이터가 없습니다
150840
150900
151860
151910
152330
152330는 api에 데이터가 없습니다
153360
153460
153490
154030
154040
155650
155660
155900
156100
158300
158300는 api에 데이터가 없습니다
158310
159580
159650
159650는 api에 데이터가 없습니다
159910
160550
160600
160980
161000
161390
161570
161890
163560
166480
168330
170030
170790
170900
170920
171010
171120
172580
173130
173940
174880
175140
176440
176750
176750는 api에 데이터가 없습니다
177350
177830
178600
178600는 api에 데이터가 없습니다
178780
178920
179720
179720는 api에 데이터가 없습니다
180400
180640
181710
182360
182400
182690
183190
183350
183350는 api에 데이터가 없습니다
183490
184230
185190
185190는 api에 데이터가 없습니다
185490
185750
186230
186230를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('186230', 22.13241432, 24.35883488, 24.35883488);
(1136, "Column count doesn't match value count at row 1")
187220
187270
187420
187790
189300
189330
189330는 api에 데이터가 없습니다
189350
189350는 api에 데이터가 없습니다
189540
189540는 api에 데이터가 없습니다
189690
189860
189980
190510
191410
191420
191600
191600는 api에 데이터가 없습니다
192080
192250
192390
192400
192410
192410를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('192410', -56.06227254, 2.1237341, 2.1237341);
(1136, "Column count doesn't match value count at row 1")
192440
192820
193250
194370
194480
194510
194510는 api에 데이터가 없습니다
195440
195870
195990
195990를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('195990', -114.98244924, -316.4441996, -316.4441996);
(1136, "Column count doesn't match value count at row 1")
196170
196300
196450
196490
196700
197140
197210
197210는 api에 데이터가 없습니다
198440
199150
199150는 api에 데이터가 없습니다
199290
199290는 api에 데이터가 없습니다
199800
199800는 api에 데이터가 없습니다
200130
200230
200350
200350는 api에 데이터가 없습니다
200470
200580
200580는 api에 데이터가 없습니다
200670
200710
200780
200880
201490
202960
202960는 api에 데이터가 없습니다
203400
203400는 api에 데이터가 없습니다
203450
203650
203690
204210
204320
204620
204630
204840
204990
204990는 api에 데이터가 없습니다
205100
205470
205470를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('205470', -8.52809544, -12.26234515, -12.26234515);
(1136, "Column count doesn't match value count at row 1")
205500
206400
206560
206640
206950
206950는 api에 데이터가 없습니다
207760
207940
207940를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('207940', 2241.09194872, 2029.04099088, 2029.04099088);
(1136, "Column count doesn't match value count at row 1")
208140
208350
208370
208640
208710
208850
208850는 api에 데이터가 없습니다
208860
208890
208890는 api에 데이터가 없습니다
210120
210120는 api에 데이터가 없습니다
210540
210980
211050
211050는 api에 데이터가 없습니다
211270
212310
212310는 api에 데이터가 없습니다
212560
213090
213420
213500
214150
214180
214270
214310
214320
214330
214370
214390
214420
214430
214450
214610
214610는 api에 데이터가 없습니다
214680
214870
215000
215050
215050는 api에 데이터가 없습니다
215090
215100
215200
215360
215380
215480
215570
215570는 api에 데이터가 없습니다
215600
215790
216050
216280
216280는 api에 데이터가 없습니다
216400
216400는 api에 데이터가 없습니다
217190
217270
217320
217320는 api에 데이터가 없습니다
217500
217500를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('217500', 0.41421789, 42.08125484, 42.08125484);
(1136, "Column count doesn't match value count at row 1")
217600
217620
217730
217820
217880
217880는 api에 데이터가 없습니다
217950
217950는 api에 데이터가 없습니다
218150
218410
219130
219420
219550
219750
220100
220110
220110는 api에 데이터가 없습니다
220180
220250
220250는 api에 데이터가 없습니다
220260
220630
221610
221800
221800는 api에 데이터가 없습니다
221840
221980
222040
222080
222110
222160
222160는 api에 데이터가 없습니다
222420
222670
222670는 api에 데이터가 없습니다
222800
222810
222980
223220
223220는 api에 데이터가 없습니다
223310
224020
224020는 api에 데이터가 없습니다
224060
224110
224760
224760는 api에 데이터가 없습니다
224810
224810는 api에 데이터가 없습니다
225220
225220는 api에 데이터가 없습니다
225330
225430
225530
225570
225590
225850
225850는 api에 데이터가 없습니다
226320
226340
226350
226360
226400
226440
227420
227420는 api에 데이터가 없습니다
227840
227950
228180
228180는 api에 데이터가 없습니다
228340
228760
228760를 개별에서 가져왔습니다
insert into dart1718_dg_ha values ('228760', -24.84448582, -101.94765928, -101.94765928);
(1136, "Column count doesn't match value count at row 1")
228850
229000
229000는 api에 데이터가 없습니다
229500
229500는 api에 데이터가 없습니다
229640
230240
230360
230980
232140
232530
232530는 api에 데이터가 없습니다
232680
232680는 api에 데이터가 없습니다
232830
232830는 api에 데이터가 없습니다
233990
233990는 api에 데이터가 없습니다
234070
234070는 api에 데이터가 없습니다
234080
234100
234920
236200
236340
236340는 api에 데이터가 없습니다
237690
237750
237880
238090
238120
238500
238500는 api에 데이터가 없습니다
239340
239610
239890
239890는 api에 데이터가 없습니다
240340
240340는 api에 데이터가 없습니다
240810
241510
241510는 api에 데이터가 없습니다
241560
241590
241690
241710
241790
242040
242350
242350는 api에 데이터가 없습니다
243070
243870
243870는 api에 데이터가 없습니다
245450
245450는 api에 데이터가 없습니다
246250
246250는 api에 데이터가 없습니다
248170
249420
250060
250930
251280
251280는 api에 데이터가 없습니다
251960
251960는 api에 데이터가 없습니다
252500
253840
254120
256840
256940
258250
258250는 api에 데이터가 없습니다
258540
258540는 api에 데이터가 없습니다
260970
260970는 api에 데이터가 없습니다
900040
900040는 api에 데이터가 없습니다
900070
900080
900100
900110
900120
900140
900250
900260
900270
900280
900290
900300
950110
950130
950140

In [8]:
res_tablename = 'dart1718_dg_1q'
bgn_year = 2018
gb = '11013'
columns =['종목코드','2017_1Q', '2018_1Q']

main.maria.createTable(res_tablename, columns, ['VARCHAR(20)', 'FLOAT', 'FLOAT'])
done_list = main.getDoneList(res_tablename)
std_df = data['fn2017']
for code in code_list[10:]:
    if code in done_list:
        continue
    print(code)
    dg_data = getDGData(code, std_df)
    if dg_data is None:
        continue
    saveData(tablename=res_tablename, data=tuple([code]+dg_data))

000210
000220
000230
000240
000250
000270
000300
000320
000390
000430
000440
000480
000490
000500
000520
000590
000640
000650
000660
000670
000680
000700
000720
000760
000850
000860
000880
000890
000910
000950
000970
000990
001000
001020
001040
001060
001070
001080
001120
001130
001140
001210
001230
001250
001260
001340
001360
001380
001390
001420
001430
001440
001460
001470
001520
001530
001540
001550
001560
001570
001620
001630
001680
001740
001770
001780
001790
001800
001810
001820
001840
001880
001940
002020
002030
002070
002100
002100를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('002100', 96.13575137, 70.61856687, 70.61856687);
(1136, "Column count doesn't match value count at row 1")
002140
002150
002170
002200
002210
002220
002230
002240
002270
002270를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('002270', 425.40085519, 375.22773399, 375.22773399);
(1136, "Column count doesn't match value count at row 1")
002290
002300
002300는 api에 데이터가 없습니다
002310
002320
002350
002360
002380
002390
002410
002420
002450
002460
002460를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('002460', 492.27487718, 76.72692424, 76.72692424);
(1136, "Column count doesn't match value count at row 1")
002600
002620
002630
002680
002690
002700
002710
002720
002760
002780
002790
002810
002820
002840
002870
002880
002900
002920
002960
002990
003000
003010
003030
003060
003070
003080
003080를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('003080', 61.34917258, -28.68490567, -28.68490567);
(1136, "Column count doesn't match value count at row 1")
003090
003100
003120
003160
003200
003220
003230
003240
003280
003300
003310
003350
003410
003480
003490
003520
003550
003560
003570
003580
003610
003620
003650
003670
003680
003680를 연결에서 가져왔습니다
insert into dart1718_dg_1q values ('003680', -26.32953563, -173.71195375, -173.71195375);
(1136, "Column count doesn't match value count at row 1")
003720
003720를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('003720', -68.89180584, -20.12380453, -20.12380453);
(1136, "Column count doesn't match value count at row 1")
003780
003800
003800를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('003800', 303.09785324, 442.15797914, 442.15797914);
(1136, "Column count doesn't match value count at row 1")
003830
003850
003920
003960
004000
004020
004060
004080
004090
004100
004140
004150
004170
004200
004200는 api에 데이터가 없습니다
004250
004270
004310
004360
004370
004380
004410
004430
004440
004450
004490
004540
004560
004590
004650
004690
004700
004710
004720
004770
004780
004800
004830
004840
004840를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('004840', 73.07941026, 34.84424089, 34.84424089);
(1136, "Column count doesn't match value count at row 1")
004870
004890
004910
004920
004960
004970
004980
004990
005010
005030
005070
005090
005110
005160
005180
005190
005250
005290
005300
005320
005360
005380
005380를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('005380', 4149.41, 28322.89, 28322.89);
(1136, "Column count doesn't match value count at row 1")
005390
005420
005430
005440
005450
005450는 api에 데이터가 없습니다
005490
005500
005610
005670
005680
005690
005710
005720
005740
005750
005800
005810
005820
005850
005860
005870
005880
005930
005950
005960
005990
006040
006050
006060
006090
006110
006120
006140
006200
006260
006280
006340
006360
006370
006380
006390
006400
006490
006570
006580
006650
006660
006730
006730를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('006730', -103.77413334, 0.47093632, 0.47093632);
(1136, "Column count doesn't match value count at row 1")
006740
006840
006880
006890
006910
006920
006980
007070
007110
007120
007160
007210
007280
007310
007340
007370
007390
007460
007530
007540
007570
007590
007610
007630
007660
007690
007700
007720
007770
007810
007820
007860
007980
008040
008060
008110
008250
008260
008290
008350
008370
008420
008470
008490
008500
008600
008700
008730
008770
008770를 개별에서 가져왔습니다
008770의 finstate에는 [당기순이익]이 없습니다
008800
008830
008870
008930
008970
009070
009140
009150
009160
009180
009190
009200
009240
009240를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('009240', 682.90926403, 413.43471759, 413.43471759);
(1136, "Column count doesn't match value count at row 1")
009270
009290
009300
009310
009320
009410
009420
009440
009450
009460
009470
009520
009540
009580
009620
009680
009730
009770
009780
009810
009830
009970
010040
010060
010100
010120
010130
010140
010170
010240
010280
010420
010470
010580
010600
010620
010640
010660
010690
010770
010780
010820
010950
010960
011000
011040
011070
011080
011090
011150
011160
011160는 api에 데이터가 없습니다
011170
011200
011210
011230
011280
011300
011320
011330
011370
011390
011420
011500
011560
011690
011700
011760
011780
011790
011810
011930
012030
012160
012170
012200
012280
012320
012330
012340
012450
012510
012600
012610
012620
012630
012690
012700
012750
012790
012800
012860
013000
013030
013120
013120를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('013120', 1219.42407583, 846.9689066, 846.9689066);
(1136, "Column count doesn't match value count at row 1")
013310
013360
013520
013570
013580
013700
013720
013810
013870
013990
014100
014130
014160
014190
014200
014280
014440
014470
014530
014570
014580
014620
014680
014710
014790
014820
014830
014910
014940
014970
014990
015020
015230
015260
015350
015360
015540
015590
015710
015750
015760
015860
015890
016090
016100
016250
016380
016450
016580
016590
016670
016710
016740
016800
016880
016920
017000
017040
017180
017250
017370
017390
017480
017510
017550
017650
017670
017800
017810
017890
017900
017940
017960
018000
018120
018260
018290
018310
018470
018500
018620
018670
018680
018700
018880
019010
019170
019180
019210
019440
019490
019540
019660
019680
019770
019990
020000
020120
020150
020180
020400
020560
020710
020760
021040
021050
021240
021320
021650
021820
022100
022220
023000
023150
023160
023350
023410
023440
023450
023530
023590
023600
023770
023790
023800
023810
023890
023900
023910
023960
024060
024070
024090
024120
024720
024740
024800
024810
024810를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('024810', -19.67363728, 0.75694752, 0.75694752);
(1136, "Column count doesn't match value count at row 1")
024830
024840
024850
024880
024890
024900
024910
024940
024950
025000
025320
025440
025530
025540
025550
025560
025620
025750
025770
025820
025860
025870
025880
025890
025900
025950
025980
026040
026150
026890
026910
026940
026960
027040
027050
027390
027390는 api에 데이터가 없습니다
027410
027580
027710
027740
027970
028040
028050
028080
028100
028150
028260
028300
028670
029460
029480
029530
029960
030000
030190
030200
030270
030270는 api에 데이터가 없습니다
030350
030520
030530
030720
030790
030960
031310
031330
031390
031430
031440
031510
031820
031820를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('031820', 65.53667543, 10.48801839, 10.48801839);
(1136, "Column count doesn't match value count at row 1")
031860
031980
032040
032040는 api에 데이터가 없습니다
032080
032190
032280
032350
032500
032540
032560
032580
032620
032640
032680
032680를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('032680', -5.77946475, -33.76557366, -33.76557366);
(1136, "Column count doesn't match value count at row 1")
032750
032790
032800
032820
032850
032860
032940
032960
032980
033050
033100
033110
033130
033160
033170
033180
033200
033230
033240
033250
033270
033290
033310
033320
033340
033430
033500
033530
033540
033560
033600
033600는 api에 데이터가 없습니다
033640
033780
033790
033830
033920
034020
034120
034220
034230
034300
034310
034590
034730
034810
034810를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('034810', 7.56650916, 23.24752114, 23.24752114);
(1136, "Column count doesn't match value count at row 1")
034940
034950
035000
035080
035150
035200
035250
035290
035420
035460
035510
035600
035610
035620
035720
035760
035810
035890
035900
036000
036010
036030
036090
036120
036170
036180
036190
036200
036260
036260는 api에 데이터가 없습니다
036420
036460
036480
036490
036530
036540
036560
036570
036580
036620
036630
036640
036670
036690
036710
036800
036810
036830
036890
036930
037070
037230
037270
037330
037350
037370
037400
037440
037460
037560
037710
037760
037950
038010
038060
038070
038110
038160
038290
038340
038390
038460
038500
038530
038540
038620
038680

038870
038880
038950
039010
039020
039030
039130
039200
039230
039240
039290
039310
039340
039420
039440
039560
039570
039610
039670
039740
039830
039840
039860
039980
040160
040300
040350
040420
040610
040910
041020
041140
041440
041460
041460를 개별에서 가져왔습니다
041460의 finstate에는 [당기순이익]이 없습니다
041510
041520
041590
041650
041830
041910
041920
041930
041960
042040
042110
042370
042420
042500
042510
042520
042600
042660
042670
042700
042940
043090
043090를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('043090', -54.04306316, -79.51010657, -79.51010657);
(1136, "Column count doesn't match value count at row 1")
043100
043150
043200
043220
043260
043290
043340
043360
043370
043590
043610
043650
043710
043910
044060
044180
044340
044380
044450
044480
044490
044780
044820
044960
044990
044990는 api에 데이터가 없습니다
045060
045100
045300
045340
045390
045510
045520
045660
045890
045970
046070
046110
046120
046140
046210
046310
046390
046440
046890
046940
046970
047040
047050
047080
047310
047400
047560
047770
047810
047820
047920
048260
048410
048430
048470
048530
048550
048770
048830
048870
048910
049070
049080
049120
049180
049430
049470
049480
049520
049550
049630
049720
049770
049800
049830
049950
049960
050090
050110
050120
050320
050540
050760
050860
050890
050960
050960를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('050960', 31.2014538, 29.03089273, 29.03089273);
(1136, "Column count doesn't match value count at row 1")
051160
051360
051370
051380
051390
051490
051500
051600
051630
051780
051900
051910
051980
052020
052190
052220
052260
052300
052330
052400
052420
052460
052600
052670
052690
052690를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('052690', 129.36840853, 263.97847129, 263.97847129);
(1136, "Column count doesn't match value count at row 1")
052710
052770
052790
052860
052900
053030
053050
053060
053110
053160
053210
053260
053270
053280
053290
053300
053350
053450
053590
053610
053620
053660
053690
053700
053800
053950
053980
054040
054050
054090
054180
054210
054220
054220를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('054220', -223.39961889, -1163.87167708, -1163.87167708);
(1136, "Column count doesn't match value count at row 1")
054300
054340
054340는 api에 데이터가 없습니다
054410
054450
054540
054620
054630
054670
054780
054800
054920
054930
054940
054950
056000
056000를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('056000', -6.24207723, -32.19239831, -32.19239831);
(1136, "Column count doesn't match value count at row 1")
056080
056090
056190
056360
056700
056730
057030
057050
057500
057500는 api에 데이터가 없습니다
057540
057680
057880
058110
058220
058400
058420
058430
058450
058470
058530
058610
058630
058650
058730
058820
058850
058860
058970
058970는 api에 데이터가 없습니다
059090
059100
059120
059210
060150
060230
060240
060250
060260
060260를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('060260', -18.80017727, 18.03528537, 18.03528537);
(1136, "Column count doesn't match value count at row 1")
060280
060300
060310
060370
060380
060480
060540
060560
060570
060590
060720
060900
060980
061040
061250
061970
062860
063080
063160
063170
063440
063570
063760
064090
064240
064260
064290
064350
064480
064520
064550
064760
064800
064820
064850
064960
065060
065130
065150
065170
065350
065420
065440
065450
065500
065510
065530
065560
065570
065620
065650
065660
065680
065690
065710
065770
065940
065940는 api에 데이터가 없습니다
065950
066110
066130
066310
066410
066430
066570
066590
066620
066670
066670를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('066670', 29.96125679, 53.93285761, 53.93285761);
(1136, "Column count doesn't match value count at row 1")
066700
066790
066830
066830는 api에 데이터가 없습니다
066900
066910
066970
066980
067000
067010
067080
067160
067170
067280
067280를 개별에서 가져왔습니다
067280의 finstate에는 [당기순이익]이 없습니다
067290
067310
067370
067370는 api에 데이터가 없습니다
067390
067570
067630
067730
067770
067830
067900
067920
067990
068050
068240
068270
068290
068330
068400
068760
068790
068930
068940
069080
069110
069140
069260
069330
069410
069460
069510
069540
069620
069640
069730
069920
069960
070300
070590
070960
071090
071200
071280
071320
071460
071670
071840
071850
071950
071970
072020
072130
072470
072520
072710
072770
072870
072950
072990
073010
073070
073110
073190
073240
073490
073540
073560
073570
073640
074430
074600
074610
075130
075180
075580
075970
076080
076340
076340는 api에 데이터가 없습니다
076610
077360
077500
077970
078000
078070
078130
078140
078150
078160
078340
078350
078520
078590
078600
078650
078860
078890
078930
078940
079000
079160
079170
079190
079370
079430
079550
079650
079810
079940
079950
079960
079970
079980
080000
080010
080160
080220
080420
080440
080470
080520
080530
080580
081000
081150
081580
081660
082210
082270
082660
082660를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('082660', -494.56748102, -289.04050861, -289.04050861);
(1136, "Column count doesn't match value count at row 1")
082740
082800
082850
082920
083310
083370
083370는 api에 데이터가 없습니다
083380
083380는 api에 데이터가 없습니다
083420
083450
083470
083550
083640
083650
083660
083790
083930
084010
084110
084180
084180를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('084180', -133.92493335, -60.62306541, -60.62306541);
(1136, "Column count doesn't match value count at row 1")
084370
084650
084650를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('084650', -39.72844225, 9.62421557, 9.62421557);
(1136, "Column count doesn't match value count at row 1")
084670
084680
084690
084730
084870
084990
085310
085370
085660
085670
085810
085910
086040
086060
086220
086220는 api에 데이터가 없습니다
086250
086250를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('086250', -75.12376665, 0.0, 0.0);
(1136, "Column count doesn't match value count at row 1")
086280
086390
086450
086460
086460는 api에 데이터가 없습니다
086520
086670
086890
086900
086960
086980
087010
087600
087730
088130
088290
088390
088790
088800
088910
089010
089030
089140
089150
089230
089470
089530
089590
089600
089790
089850
089890
089980
090080
090150
090350
090360
090370
090410
090430
090460
090470
090710
090740
090850
091090
091120
091340
091440
091580
091590
091700
091970
092040
092070
092070를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('092070', 141.16308532, 22.31167286, 22.31167286);
(1136, "Column count doesn't match value count at row 1")
092130
092200
092220
092230
092300
092440
092460
092590
092590는 api에 데이터가 없습니다
092600
092730
092870
093050
093190
093230
093240
093320
093370
093380
093520
093640
093920
094170
094190
094190는 api에 데이터가 없습니다
094280
094360
094480
094820
094840
094850
094860
094940
094970
095190
095270
095340
095500
095570
095610
095660
095700
095700를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('095700', -340.66759817, -165.09197492, -165.09197492);
(1136, "Column count doesn't match value count at row 1")
095720
095910
096040
096240
096350
096530
096610
096630
096640
096690
096760
096770
096870
097230
097520
097780
097800
097870
097950
098120
098460
098660
099190
099220
099320
099410
099440
099520
100030
100090
100120
100130
100220
100250
100660
100700
100840
101000
101060
101140
101160
101170
101170를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('101170', 42.23544859, -6.6657149, -6.6657149);
(1136, "Column count doesn't match value count at row 1")
101240
101330
101360
101360는 api에 데이터가 없습니다
101390
101400
101490
101490를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('101490', 46.22717852, 100.98863172, 100.98863172);
(1136, "Column count doesn't match value count at row 1")
101530
101670
101680
101730
101930
102120
102210
102260
102280
102460
102710
102940
103130
103130는 api에 데이터가 없습니다
103140
103230
103590
103660
103660는 api에 데이터가 없습니다
104040
104200
104460
104480
104540
104700
104830
105330
105550
105630
105740
105840
106080
106190
106240
106520
107590
107640
107640는 api에 데이터가 없습니다
108230
108320
108380
108670
108790
108790는 api에 데이터가 없습니다
108860
109070
109080
109610
109740
109820
109860
109960
111770
111820
111870
112040
112190
112190는 api에 데이터가 없습니다
112240
112240는 api에 데이터가 없습니다
112610
113810
114090
114120
114190
114450
114570
114630
114810
114920
114920는 api에 데이터가 없습니다
115160
115180
115180를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('115180', -164.15136844, -226.97843924, -226.97843924);
(1136, "Column count doesn't match value count at row 1")
115310

115390
115440
115450
115480
115500
115530
115570
115610
115960
116100
116100는 api에 데이터가 없습니다
117580
117670
118000
119500
119610
119650
119830
119850
119860
120030
120110
120240
120780
120780는 api에 데이터가 없습니다
121060
121060는 api에 데이터가 없습니다
121440
121600
121800
121850
121890
122350
122450
122640
122690
122870
122900
122990
123010
123040
123260
123260는 api에 데이터가 없습니다
123330
123410
123420
123570
123690
123700
123750
123840
123860
124500
126340
126340는 api에 데이터가 없습니다
126560
126600
126640
126700
126870
126880
127120
127160
127710
128660
128820
128940
129260
130500
130580
130660
130740
131030
131090
131100
131180
131220
131290
131370
131390
131400
131760
131970
133750
133820
134060
134380
134580
134780
134780는 api에 데이터가 없습니다
134790
135160
135160는 api에 데이터가 없습니다
136480
136490
136510
136540
136660
136660는 api에 데이터가 없습니다
137400
137940
137950
138070
138080
138250
138360
138490
138610
138690
139050
139480
139670
140290
140290는 api에 데이터가 없습니다
140410
140520
140660
140660는 api에 데이터가 없습니다
140860
140910
141000
141020
141020는 api에 데이터가 없습니다
141070
141080
142210
142280
142760
143160
143210
143240
143540
144510
144620
144960
145020
145210
145270
145990
147760
147830
148250
148780
148780는 api에 데이터가 없습니다
149010
149010는 api에 데이터가 없습니다
149940
149940는 api에 데이터가 없습니다
149950
149980
150440
150440는 api에 데이터가 없습니다
150840
150900
151860
151910
152330
152330는 api에 데이터가 없습니다
153360
153460
153490
154030
154040
155650
155660
155900
156100
158300
158300는 api에 데이터가 없습니다
158310
159580
159650
159650는 api에 데이터가 없습니다
159910
160550
160600
160980
161000
161390
161570
161890
163560
166480
168330
170030
170790
170900
170920
171010
171120
172580
173130
173940
174880
175140
176440
176750
176750는 api에 데이터가 없습니다
177350
177830
178600
178600는 api에 데이터가 없습니다
178780
178920
179720
179720는 api에 데이터가 없습니다
180400
180640
181710
182360
182400
182690
183190
183350
183350는 api에 데이터가 없습니다
183490
184230
185190
185190는 api에 데이터가 없습니다
185490
185750
186230
186230를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('186230', 22.13241432, 24.35883488, 24.35883488);
(1136, "Column count doesn't match value count at row 1")
187220
187270
187420
187790
189300
189330
189330는 api에 데이터가 없습니다
189350
189350는 api에 데이터가 없습니다
189540
189540는 api에 데이터가 없습니다
189690
189860
189980
190510
191410
191420
191600
191600는 api에 데이터가 없습니다
192080
192250
192390
192400
192410
192410를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('192410', -56.06227254, 2.1237341, 2.1237341);
(1136, "Column count doesn't match value count at row 1")
192440
192820
193250
194370
194480
194510
194510는 api에 데이터가 없습니다
195440
195870
195990
195990를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('195990', -114.98244924, -316.4441996, -316.4441996);
(1136, "Column count doesn't match value count at row 1")
196170
196300
196450
196490
196700
197140
197210
197210는 api에 데이터가 없습니다
198440
199150
199150는 api에 데이터가 없습니다
199290
199290는 api에 데이터가 없습니다
199800
199800는 api에 데이터가 없습니다
200130
200230
200350
200350는 api에 데이터가 없습니다
200470
200580
200580는 api에 데이터가 없습니다
200670
200710
200780
200880
201490
202960
202960는 api에 데이터가 없습니다
203400
203400는 api에 데이터가 없습니다
203450
203650
203690
204210
204320
204620
204630
204840
204990
204990는 api에 데이터가 없습니다
205100
205470
205470를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('205470', -8.52809544, -12.26234515, -12.26234515);
(1136, "Column count doesn't match value count at row 1")
205500
206400
206560
206640
206950
206950는 api에 데이터가 없습니다
207760
207940
207940를 개별에서 가져왔습니다
insert into dart1718_dg_1q values ('207940', 2241.09194872, 2029.04099088, 2029.04099088);
(1136, "Column count doesn't match value count at row 1")
208140
208350
208370
208640
208710
208850
208850는 api에 데이터가 없습니다
208860
208890
208890는 api에 데이터가 없습니다
210120
210120는 api에 데이터가 없습니다
210540
210980
211050
211050는 api에 데이터가 없습니다
211270
212310
212310는 api에 데이터가 없습니다
212560
213090
213420
213500
214150
214180
214270
214310
214310는 api에 데이터가 없습니다
214320
214320는 api에 데이터가 없습니다
214330
214330는 api에 데이터가 없습니다
214370
214370는 api에 데이터가 없습니다
214390
214390는 api에 데이터가 없습니다
214420
214420는 api에 데이터가 없습니다
214430
214430는 api에 데이터가 없습니다
214450
214450는 api에 데이터가 없습니다
214610
214610는 api에 데이터가 없습니다
214680
214680는 api에 데이터가 없습니다
214870
214870는 api에 데이터가 없습니다
215000
215000는 api에 데이터가 없습니다
215050
215050는 api에 데이터가 없습니다
215090
215090는 api에 데이터가 없습니다
215100
215100는 api에 데이터가 없습니다
215200
215200는 api에 데이터가 없습니다
215360
215360는 api에 데이터가 없습니다
215380
215380는 api에 데이터가 없습니다
215480
215480는 api에 데이터가 없습니다
215570
215570는 api에 데이터가 없습니다
215600
215600는 api에 데이터가 없습니다
215790
215790는 api에 데이터가 없습니다
216050
216050는 api에 데이터가 없습니다
216280
216280는 api에 데이터가 없습니다
216400
216400는 api에 데이터가 없습니다
217190
217190는 api에 데이터가 없습니다
217270
217270는 api에 데이터가 없습니다
217320
217320는 api에 데이터가 없습니다
217500
217500는 api에 데이터가 없습니다
217600
217600는 api에 데이터가 없습니다
217620
217620는 api에 데이터가 없습니다
217730
217730는 api에 데이터가 없습니다
217820
217820는 api에 데이터가 없습니다
217880
217880는 api에 데이터가 없습니다
217950
217950는 api에 데이터가 없습니다
218150
218150는 api에 데이터가 없습니다
218410
218410는 api에 데이터가 없습니다
219130
219130는 api에 데이터가 없습니다
219420
219420는 api에 데이터가 없습니다
219550
219550는 api에 데이터가 없습니다
219750
219750는 api에 데이터가 없습니다
220100
220100는 api에 데이터가 없습니다
220110
220110는 api에 데이터가 없습니다
220180
220180는 api에 데이터가 없습니다
220250
220250는 api에 데이터가 없습니다
220260
220260는 api에 데이터가 없습니다
220630
220630는 api에 데이터가 없습니다
221610
221610는 api에 데이터가 없습니다
221800
221800는 api에 데이터가 없습니다
221840
221840는 api에 데이터가 없습니다
221980
221980는 api에 데이터가 없습니다
222040
222040는 api에 데이터가 없습니다
222080
222080는 api에 데이터가 없습니다
222110
222110는 api에 데이터가 없습니다
222160
222160는 api에 데이터가 없습니다
222420
222420는 api에 데이터가 없습니다
222670
222670는 api에 데이터가 없습니다
222800
222800는 api에 데이터가 없습니다
222810
222810는 api에 데이터가 없습니다
222980
222980는 api에 데이터가 없습니다
223220
223220는 api에 데이터가 없습니다
223310
223310는 api에 데이터가 없습니다
224020
224020는 api에 데이터가 없습니다
224060
224060는 api에 데이터가 없습니다
224110
224110는 api에 데이터가 없습니다
224760
224760는 api에 데이터가 없습니다
224810
224810는 api에 데이터가 없습니다
225220
225220는 api에 데이터가 없습니다
225330
225330는 api에 데이터가 없습니다
225430
225430는 api에 데이터가 없습니다
225530
225530는 api에 데이터가 없습니다
225570
225570는 api에 데이터가 없습니다
225590
225590는 api에 데이터가 없습니다
225850
225850는 api에 데이터가 없습니다
226320
226320는 api에 데이터가 없습니다
226340
226340는 api에 데이터가 없습니다
226350
226350는 api에 데이터가 없습니다
226360
226360는 api에 데이터가 없습니다
226400
226400는 api에 데이터가 없습니다
226440
226440는 api에 데이터가 없습니다
227420
227420는 api에 데이터가 없습니다
227840
227840는 api에 데이터가 없습니다
227950
227950는 api에 데이터가 없습니다
228180
228180는 api에 데이터가 없습니다
228340
228340는 api에 데이터가 없습니다
228760
228760는 api에 데이터가 없습니다
228850
228850는 api에 데이터가 없습니다
229000
229000는 api에 데이터가 없습니다
229500
229500는 api에 데이터가 없습니다
229640
229640는 api에 데이터가 없습니다
230240
230240는 api에 데이터가 없습니다
230360
230360는 api에 데이터가 없습니다
230980
230980는 api에 데이터가 없습니다
232140
232140는 api에 데이터가 없습니다
232530
232530는 api에 데이터가 없습니다
232680
232680는 api에 데이터가 없습니다
232830
232830는 api에 데이터가 없습니다
233990
233990는 api에 데이터가 없습니다
234070
234070는 api에 데이터가 없습니다
234080
234080는 api에 데이터가 없습니다
234100
234100는 api에 데이터가 없습니다
234920
234920는 api에 데이터가 없습니다
236200
236200는 api에 데이터가 없습니다
236340
236340는 api에 데이터가 없습니다
237690
237690는 api에 데이터가 없습니다
237750
237750는 api에 데이터가 없습니다
237880
237880는 api에 데이터가 없습니다
238090
238090는 api에 데이터가 없습니다
238120
238120는 api에 데이터가 없습니다
238500
238500는 api에 데이터가 없습니다
239340
239340는 api에 데이터가 없습니다
239610
239610는 api에 데이터가 없습니다
239890
239890는 api에 데이터가 없습니다
240340
240340는 api에 데이터가 없습니다
240810
240810는 api에 데이터가 없습니다
241510
241510는 api에 데이터가 없습니다
241560
241560는 api에 데이터가 없습니다
241590
241590는 api에 데이터가 없습니다
241690
241690는 api에 데이터가 없습니다
241710
241710는 api에 데이터가 없습니다
241790
241790는 api에 데이터가 없습니다
242040
242040는 api에 데이터가 없습니다
242350
242350는 api에 데이터가 없습니다
243070
243070는 api에 데이터가 없습니다
243870
243870는 api에 데이터가 없습니다
245450
245450는 api에 데이터가 없습니다
246250
246250는 api에 데이터가 없습니다
248170
248170는 api에 데이터가 없습니다
249420
249420는 api에 데이터가 없습니다
250060
250060는 api에 데이터가 없습니다
250930
250930는 api에 데이터가 없습니다
251280
251280는 api에 데이터가 없습니다
251960
251960는 api에 데이터가 없습니다
252500
252500는 api에 데이터가 없습니다
253840
253840는 api에 데이터가 없습니다
254120
254120는 api에 데이터가 없습니다
256840
256840는 api에 데이터가 없습니다
256940
256940는 api에 데이터가 없습니다
258250
258250는 api에 데이터가 없습니다
258540
258540는 api에 데이터가 없습니다
260970
260970는 api에 데이터가 없습니다
900040
900040는 api에 데이터가 없습니다
900070
900070는 api에 데이터가 없습니다
900080
900080는 api에 데이터가 없습니다
900100
900100는 api에 데이터가 없습니다
900110

900110는 api에 데이터가 없습니다
900120
900120는 api에 데이터가 없습니다
900140
900140는 api에 데이터가 없습니다
900250
900250는 api에 데이터가 없습니다
900260
900260는 api에 데이터가 없습니다
900270
900270는 api에 데이터가 없습니다
900280
900280는 api에 데이터가 없습니다
900290
900290는 api에 데이터가 없습니다
900300
900300는 api에 데이터가 없습니다
950110
950110는 api에 데이터가 없습니다
950130
950130는 api에 데이터가 없습니다
950140
950140는 api에 데이터가 없습니다

# Signet

In [7]:
# import time
# from bs4 import BeautifulSoup
# import FinanceDataReader as fdr
# import pandas as pd

# code = '000660'
# std_df = data['fnguide2017']

# main._setChrome()
# main.signetCollect()

In [10]:
code = '000020'
fs = main.getDartFs(code, True, 2019, '11012')

In [11]:
fs

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,thstrm_nm,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,ord,thstrm_add_amount,frmtrm_add_amount
0,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,BS,재무상태표,유동자산,제 91 기반기말,2019.06.30 현재,"226,736,065,172",제 90 기말,2018.12.31 현재,"227,887,463,293",1,NaN,NaN
1,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,BS,재무상태표,비유동자산,제 91 기반기말,2019.06.30 현재,"149,334,472,658",제 90 기말,2018.12.31 현재,"142,711,779,500",3,NaN,NaN
2,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,BS,재무상태표,자산총계,제 91 기반기말,2019.06.30 현재,"376,070,537,830",제 90 기말,2018.12.31 현재,"370,599,242,793",5,NaN,NaN
3,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,BS,재무상태표,유동부채,제 91 기반기말,2019.06.30 현재,"64,610,826,617",제 90 기말,2018.12.31 현재,"60,798,281,590",7,NaN,NaN
4,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,BS,재무상태표,비유동부채,제 91 기반기말,2019.06.30 현재,"17,274,244,583",제 90 기말,2018.12.31 현재,"12,709,915,835",9,NaN,NaN
5,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,BS,재무상태표,부채총계,제 91 기반기말,2019.06.30 현재,"81,885,071,200",제 90 기말,2018.12.31 현재,"73,508,197,425",11,NaN,NaN
6,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,BS,재무상태표,자본금,제 91 기반기말,2019.06.30 현재,"27,931,470,000",제 90 기말,2018.12.31 현재,"27,931,470,000",13,NaN,NaN
7,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,BS,재무상태표,이익잉여금,제 91 기반기말,2019.06.30 현재,"241,049,224,323",제 90 기말,2018.12.31 현재,"243,147,069,402",17,NaN,NaN
8,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,BS,재무상태표,자본총계,제 91 기반기말,2019.06.30 현재,"294,185,466,630",제 90 기말,2018.12.31 현재,"297,091,045,368",21,NaN,NaN
9,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,IS,손익계산서,매출액,제 91 기반기,2019.01.01 ~ 2019.06.30,"74,928,662,506",제 90 기반기,2018.01.01 ~ 2018.06.30,"79,337,515,115",23,"149,592,013,394","156,301,698,009"
10,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,IS,손익계산서,영업이익,제 91 기반기,2019.01.01 ~ 2019.06.30,"-865,078,361",제 90 기반기,2018.01.01 ~ 2018.06.30,"836,966,012",25,"1,424,171,157","6,250,813,023"
11,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,IS,손익계산서,법인세차감전 순이익,제 91 기반기,2019.01.01 ~ 2019.06.30,"-417,202,042",제 90 기반기,2018.01.01 ~ 2018.06.30,"1,648,784,523",27,"2,417,095,856","7,861,167,145"
12,20190814002182,11012,2019,00119195,000020,CFS,연결재무제표,IS,손익계산서,당기순이익,제 91 기반기,2019.01.01 ~ 2019.06.30,"-631,075,794",제 90 기반기,2018.01.01 ~ 2018.06.30,"749,904,320",29,"1,210,797,565","5,460,965,921"
13,20190814002182,11012,2019,00119195,000020,OFS,재무제표,BS,재무상태표,유동자산,제 91 기반기말,2019.06.30 현재,"226,562,662,356",제 90 기말,2018.12.31 현재,"226,382,730,762",2,NaN,NaN
14,20190814002182,11012,2019,00119195,000020,OFS,재무제표,BS,재무상태표,비유동자산,제 91 기반기말,2019.06.30 현재,"149,273,461,290",제 90 기말,2018.12.31 현재,"143,911,768,000",4,NaN,NaN
15,20190814002182,11012,2019,00119195,000020,OFS,재무제표,BS,재무상태표,자산총계,제 91 기반기말,2019.06.30 현재,"375,836,123,646",제 90 기말,2018.12.31 현재,"370,294,498,762",6,NaN,NaN
16,20190814002182,11012,2019,00119195,000020,OFS,재무제표,BS,재무상태표,유동부채,제 91 기반기말,2019.06.30 현재,"64,610,826,617",제 90 기말,2018.12.31 현재,"60,797,175,590",8,NaN,NaN
17,20190814002182,11012,2019,00119195,000020,OFS,재무제표,BS,재무상태표,비유동부채,제 91 기반기말,2019.06.30 현재,"16,968,923,345",제 90 기말,2018.12.31 현재,"12,400,309,641",10,NaN,NaN
18,20190814002182,11012,2019,00119195,000020,OFS,재무제표,BS,재무상태표,부채총계,제 91 기반기말,2019.06.30 현재,"81,579,749,962",제 90 기말,2018.12.31 현재,"73,197,485,231",12,NaN,NaN
19,20190814002182,11012,2019,00119195,000020,OFS,재무제표,BS,재무상태표,자본금,제 91 기반기말,2019.06.30 현재,"27,931,470,000",제 90 기말,2018.12.31 현재,"27,931,470,000",15,NaN,NaN
20,20190814002182,11012,2019,00119195,000020,OFS,재무제표,BS,재무상태표,이익잉여금,제 91 기반기말,2019.06.30 현재,"241,120,131,377",제 90 기말,2018.12.31 현재,"243,153,037,565",19,NaN,NaN
21,20190814002182,11012,2019,00119195,000020,OFS,재무제표,BS,재무상태표,자본총계,제 91 기반기말,2019.06.30 현재,"294,256,373,684",제 90 기말,2018.12.31 현재,"297,097,013,531",22,NaN,NaN
22,20190814002182,11012,2019,00119195,000020,OFS,재무제표,IS,손익계산서,매출액,제 91 기반기,2019.01.01 ~ 2019.06.30,"74,928,662,506",제 90 기반기,2018.01.01 ~ 2018.06.30,"79,337,515,115",24,"149,592,013,394","156,301,698,009"
23,20190814002182,11012,2019,00119195,000020,OFS,재무제표,IS,손익계산서,영업이익,제 91 기반기,2019.01.01 ~ 2019.06.30,"-831,111,939",제 90 기반기,2018.01.01 ~ 2018.06.30,"836,966,012",26,"1,496,721,140","6,250,813,023"
24,20190814002182,11012,2019,00119195,000020,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,제 91 기반기,2019.01.01 ~ 2019.06.30,"-383,356,277",제 90 기반기,2018.01.01 ~ 2018.06.30,"1,648,784,523",28,"2,486,319,703","7,861,167,145"
25,20190814002182,11012,2019,00119195,000020,OFS,재무제표,IS,손익계산서,당기순이익,제 91 기반기,2019.01.01 ~ 2019.06.30,"-597,230,029",제 90 기반기,2018.01.01 ~ 2018.06.30,"749,904,320",30,"1,280,021,412","5,460,965,921"