In [1]:
import requests
import bs4
import pandas as pd
import numpy as np
from cjw_mysql import *
from tqdm import tqdm
from utils import *

In [2]:
db = Maria()
db.setMaria(db='ohlcv')
code_list = db.mariaShowData('stock_info')['code'].tolist()
data = {}

In [14]:
code = '005930'
res = requests.get(f'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{code}&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701')
df = pd.read_html(res.text)

In [15]:
df[0]

,IFRS(연결),2018/12,2019/12,2020/12,2021/03,전년동기,전년동기(%)
0,매출액,2437714.0,2304009.0,2368070.0,653885.0,553252.0,18.2
1,매출원가,1323944.0,1472395.0,1444883.0,415000.0,348067.0,19.2
2,매출총이익,1113770.0,831613.0,923187.0,238885.0,205185.0,16.4
3,판매비와관리비계산에 참여한 계정 펼치기,524903.0,553928.0,563248.0,145057.0,140711.0,3.1
4,영업이익,588867.0,277685.0,359939.0,93829.0,64473.0,45.5
5,영업이익(발표기준),588867.0,277685.0,359939.0,93829.0,64473.0,45.5
6,금융수익계산에 참여한 계정 펼치기,99993.0,101616.0,122676.0,22386.0,37914.0,-41.0
7,금융원가계산에 참여한 계정 펼치기,86089.0,82749.0,113181.0,19939.0,34940.0,-42.9
8,기타수익계산에 참여한 계정 펼치기,14850.0,17787.0,13841.0,2997.0,3155.0,-5.0
9,기타비용계산에 참여한 계정 펼치기,11420.0,14147.0,24889.0,3242.0,3641.0,-10.9
10,"종속기업,공동지배기업및관계기업관련손익계산에 참여한 계정 펼치기",5398.0,4130.0,5065.0,1475.0,606.0,143.3
11,세전계속사업이익,611600.0,304322.0,363451.0,97506.0,67569.0,44.3
12,법인세비용,168151.0,86933.0,99373.0,26090.0,18719.0,39.4
13,계속영업이익,443449.0,217389.0,264078.0,71417.0,48849.0,46.2
14,중단영업이익,NaN,NaN,NaN,NaN,NaN,NaN
15,당기순이익,443449.0,217389.0,264078.0,71417.0,48849.0,46.2
16,지배주주순이익,438909.0,215051.0,260908.0,70928.0,48896.0,45.1
17,비지배주주순이익,4540.0,2338.0,3170.0,489.0,-47.0,흑자전환

In [3]:
for code in tqdm(code_list):
    try:
        res = requests.get(f'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{code}&cID=&MenuYn=Y&ReportGB=&NewMenuID=103&stkGb=701')
        df = pd.read_html(res.text)[0]
        cols = list(df.columns)[1:]
        cols = [col.replace('/', '_') for col in cols]
        df.columns = ['지표'] + cols
        df['지표'] = [curr.replace('계산에 참여한 계정 펼치기', '') for curr in df['지표'].tolist()]
#         df = df.replace('안정성비율', np.nan)
#         df = df.replace('성장성비율', np.nan)
#         df = df.replace('수익성비율', np.nan)
#         df = df.replace('활동성비율', np.nan)
#         df = df.dropna().reset_index(drop=True)
    except:
        continue
    if df.shape[0] > 0:
        data[code] = df

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  2.79it/s]

In [5]:
data['000020']

                      지표  2018_12  2019_12  2020_12  2021_03   전년동기 전년동기(%)
0                    매출액   3066.0   3072.0   2721.0    718.0  670.0     7.2
1                   매출원가   1907.0   1856.0   1334.0    360.0  351.0     2.5
2                  매출총이익   1159.0   1216.0   1387.0    358.0  319.0    12.4
3                판매비와관리비   1047.0   1120.0   1155.0    307.0  292.0     5.3
4                   영업이익    112.0     96.0    232.0     51.0   27.0    89.1
5             영업이익(발표기준)    112.0     96.0    232.0     51.0   27.0    89.1
6                   금융수익     30.0     25.0     46.0     29.0    7.0   302.8
7                   금융원가      2.0     10.0     10.0      2.0    1.0   215.2
8                   기타수익      4.0     71.0     80.0      4.0    1.0   483.0
9                   기타비용      2.0     15.0     10.0      3.0    1.0   154.3
10  종속기업,공동지배기업및관계기업관련손익      3.0     -4.0     -1.0     -1.0    NaN     NaN
11              세전계속사업이익    145.0    162.0    336.0     77.0   33.0   135.2
12                 법인세비용     45.0     71.0     49.0     22.0   10.0   115.7
13                계속영업이익    101.0     91.0    287.0     55.0   23.0   143.9
14                중단영업이익      NaN      NaN      NaN      NaN    NaN     NaN
15                 당기순이익    101.0     91.0    287.0     55.0   23.0   143.9
16               지배주주순이익    101.0     91.0    285.0     54.0   23.0   140.9
17              비지배주주순이익     -0.0     -0.0      2.0      1.0   -0.0    흑자전환

In [6]:
import time
res = {}
subject_list = data['005930']['지표'].tolist()

std_df = pd.DataFrame(data['005930'].where(data['005930'].지표=='매출액').dropna().iloc[0]).reset_index(drop=False).drop(0)
std_df.columns = ['period', '005930']

for subject in subject_list:
    print(subject)
    time.sleep(1)
    res[subject] = pd.DataFrame()
    res[subject]['period'] = std_df['period']
    for code in tqdm(list(data.keys())):
        try:
            curr_df = pd.DataFrame(data[code].where(data[code].지표==subject).dropna().iloc[0]).reset_index(drop=False).drop(0)
            curr_df.columns = ['period', code]
            res[subject] = pd.merge(res[subject], curr_df, on=['period'], how='outer').reset_index(drop=True)
        except:
            pass

매출액

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 199.54it/s]

매출원가

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 200.50it/s]

매출총이익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 200.54it/s]

판매비와관리비

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 250.71it/s]

영업이익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 167.52it/s]

영업이익(발표기준)

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 250.54it/s]

금융수익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 199.67it/s]

금융원가

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 143.27it/s]

기타수익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 200.20it/s]

기타비용

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 199.43it/s]

종속기업,공동지배기업및관계기업관련손익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 334.26it/s]

세전계속사업이익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 199.52it/s]

법인세비용

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 200.75it/s]

계속영업이익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 167.13it/s]

중단영업이익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 334.26it/s]

당기순이익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 167.72it/s]

지배주주순이익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 200.56it/s]

비지배주주순이익

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 199.49it/s]

In [7]:
res['매출액']

    period  000020
0  2018_12  3066.0
1  2019_12  3072.0
2  2020_12  2721.0
3  2021_03   718.0
4     전년동기   670.0
5  전년동기(%)     7.2

In [46]:
for subject in subject_list:
    res[subject].iloc[:4].to_csv(f'C:/data/subject_{subject}.csv', index=False, encoding='cp949')

In [48]:
from utils import *

which = 'subject'
wish_list = ['유동비율']
data = get_data(data, which, wish_list)

NameError: name 'get_data' is not defined

In [49]:
subject_list

['유동비율',
 '당좌비율',
 '부채비율',
 '유보율',
 '이자보상배율',
 '자기자본비율',
 '매출액증가율',
 '판매비와관리비증가율',
 '영업이익증가율',
 'EBITDA증가율',
 'EPS증가율',
 '매출총이익율',
 '세전계속사업이익률',
 '영업이익률',
 'EBITDA마진율',
 'ROA',
 'ROE',
 'ROIC',
 '총자산회전율',
 '총부채회전율',
 '총자본회전율']