In [2]:
import collector
import pandas as pd
import OpenDartReader
import dart_fss

In [3]:
test = collector.Collector('dart')
test._setMaria()

# analyzeData(anal_type=)

In [3]:
res_tablename = 'result2020_20201117'
today = '20201117'
dept_rate = 100
a_df = test.analyzeData('a', res_tablename, today)
b_df = test.analyzeData('b', res_tablename)
c_df = test.analyzeData('c', res_tablename)
d_df = test.analyzeData('d', res_tablename, dept_rate=dept_rate)
orgin_df = test.analyzeData('orgin', res_tablename)

result2020_20201116
20201116
None
result2020_20201116
20201116
None
result2020_20201116
20201116
None
result2020_20201116
20201116
100
100

C:\Users\choi97201\Desktop\cjw\collector.py:531: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_df['부채비율'] = (d_df['부채총계2020'] / d_df['자본총계2020']) * 100

result2020_20201116
20201116
None

In [45]:
# a_rate = test.getTimeseriesData(a_df)
# b_rate = test.getTimeseriesData(b_df)
# c_rate = test.getTimeseriesData(c_df)
# d_rate = test.getTimeseriesData(d_df)
# e_rate = test.getTimeseriesData(e_df)

# a: 기업분석 > 현재가 (금일 기준)

In [46]:
# a_rate[2][['COUNT']].iloc[1:].plot(figsize=(10,6))
# df = pd.merge(e_rate[2][['날짜', 'CODE_MEAN']], a_rate[2], on=['날짜'])[['KOS_MEAN', 'CODE_MEAN_x', 'CODE_MEAN_y']].iloc[1:]
# df.columns = ['KOS_MEAN', '전체평균', '평균']
# df.plot(figsize=(10,6))

# b: 기업분석 < 기업가치

In [47]:
# b_rate[2][['COUNT']].iloc[1:].plot(figsize=(10,6))
# df = pd.merge(e_rate[2][['날짜', 'CODE_MEAN']], b_rate[2], on=['날짜'])[['KOS_MEAN', 'CODE_MEAN_x', 'CODE_MEAN_y']].iloc[1:]
# df.columns = ['KOS_MEAN', '전체평균', '평균']
# df.plot(figsize=(10,6))

# c: 영업이익 2년 연속 상승

In [48]:
# c_rate[2][['COUNT']].iloc[1:].plot(figsize=(10,6))
# df = pd.merge(e_rate[2][['날짜', 'CODE_MEAN']], c_rate[2], on=['날짜'])[['KOS_MEAN', 'CODE_MEAN_x', 'CODE_MEAN_y']].iloc[1:]
# df.columns = ['KOS_MEAN', '전체평균', '평균']
# df.plot(figsize=(10,6))

# d: 부채비율 100% 이하

In [49]:
# d_rate[2][['COUNT']].iloc[1:].plot(figsize=(10,6))
# df = pd.merge(e_rate[2][['날짜', 'CODE_MEAN']], d_rate[2], on=['날짜'])[['KOS_MEAN', 'CODE_MEAN_x', 'CODE_MEAN_y']].iloc[1:]
# df.columns = ['KOS_MEAN', '전체평균', '평균']
# df.plot(figsize=(10,6))

# e: 전체

In [4]:
print(e_df.shape[0])

a_df.to_excel('기본조건_2020.xlsx', index=False, encoding='utf-8-sig')
print(a_df.shape[0])

comb_ac = pd.merge(a_df[['종목코드', '최신가격', '주당가치분석']], c_df, on=['종목코드', '주당가치분석'])
comb_ac.to_excel('영업이익(억)_2020.xlsx', index=False, encoding='utf-8-sig')
print(comb_ac.shape[0])

comb_ad = pd.merge(a_df[['종목코드', '최신가격', '주당가치분석']], d_df, on=['종목코드', '주당가치분석'])
comb_ad.to_excel('부채비율{}(억)_2020.xlsx'.format(dept_rate), index=False, encoding='utf-8-sig')
print(comb_ad.shape[0])

comb_acd = pd.merge(comb_ac[['종목코드', '최신가격', '주당가치분석', '2018영업이익성장률', '2019영업이익성장률']], comb_ad, on=['종목코드', '주당가치분석', '최신가격'])
comb_acd.to_excel('부채비율{}_영업이익(억)_2020.xlsx'.format(dept_rate), index=False, encoding='utf-8-sig')
print(comb_acd.shape[0])

comb_abcd = pd.merge(comb_acd[['종목코드', '최신가격', '주당가치분석', '주당기업가치', '2018영업이익성장률', '2019영업이익성장률', '부채비율']], b_df, on=['종목코드', '주당가치분석'])
comb_abcd.to_excel('최대최소_부채비율{}_영업이익(억)_2020.xlsx'.format(dept_rate), index=False, encoding='utf-8-sig')
print(comb_abcd.shape[0])

877

In [5]:
from pykrx import stock

In [7]:
df

            종가             시가총액       거래량           거래대금       상장주식수
티커
005930   66300  395796583065000  36354334  2384455883700  5969782550
000660   98000   71344231770000   9274278   885204121740   728002365
207940  758000   50153070000000     74377    56424317000    66165000
005935   58800   48385737960000   5619146   329374446710   822886700
051910  677000   47791016211000    573360   389020156655    70592343
...        ...              ...       ...            ...         ...
242350     426       2028407520        57          22702     4761520
238500     430       2013331380      6577        2735805     4682166
344860    1010       1878600000         0              0     1860000
179720    2400       1774800000       170         417275      739500
225860     150       1703713800      4425         592232    11358092

[2508 rows x 5 columns]