In [9]:
import numpy as np 
import pandas as pd 
import yfinance as yf

# Retrieving List of World Major Stock Indices from Yahoo! Finance
df_list = pd.read_html('https://finance.yahoo.com/world-indices/')

#print(df_list)
MarkerList = []
majorStockIdx = df_list[0][['Name', 'Last Price']]

print(majorStockIdx)

# KOSPI Composite Index (코스피)
# Dow Jones Industrial Average (다우산업)
# NASDAQ Composite (나스닥 종합)
# S&P 500 (S&P500)
# HANG SENG INDEX (항셍지수)
# KOSDAQ (코스닥)

#A = majorStockIdx[majorStockIdx['Name']=='KOSPI Composite Index']['Last Price']

#print("test: ", A)

MarkerList.append(['코스피', majorStockIdx[majorStockIdx['Name']=='KOSPI Composite Index']['Last Price'].iloc[0]])
MarkerList.append(['다우산업', majorStockIdx[majorStockIdx['Name']=='Dow Jones Industrial Average']['Last Price'].iloc[0]])
MarkerList.append(['나스닥 종합', majorStockIdx[majorStockIdx['Name']=='NASDAQ Composite']['Last Price'].iloc[0]])
MarkerList.append(['S&P500', majorStockIdx[majorStockIdx['Name']=='S&P 500']['Last Price'].iloc[0]])
MarkerList.append(['항셍지수', majorStockIdx[majorStockIdx['Name']=='HANG SENG INDEX']['Last Price'].iloc[0]])

MarkerList

#df_list = pd.read_html('https://finance.yahoo.com/quote/%5EKQ11?p=^KQ11&.tsrc=fin-srch')

                            Name  Last Price
0                        S&P 500     3925.43
1   Dow Jones Industrial Average    31961.86
2               NASDAQ Composite    13597.97
3            NYSE COMPOSITE (DJ)    15539.42
4      NYSE AMEX COMPOSITE INDEX     2724.41
5                    Cboe UK 100      664.53
6                   Russell 2000     2284.38
7                            Vix       22.15
8                       FTSE 100     6673.68
9          DAX PERFORMANCE-INDEX    13958.37
10                        CAC 40     5818.04
11                ESTX 50 PR.EUR     3710.61
12                  EURONEXT 100     1149.18
13                        BEL 20     3876.74
14             MOEX Russia Index     3412.18
15                    Nikkei 225    30168.27
16               HANG SENG INDEX    30074.17
17           SSE Composite Index     3585.05
18            Shenzhen Component    14828.80
19                     STI Index     2972.02
20                   S&P/ASX 200     6834.00
21                ALL ORDINARIES     7105.70
22                S&P BSE SENSEX    51190.93
23       Jakarta Composite Index     6289.65
24      FTSE Bursa Malaysia KLCI     1581.54
25        S&P/NZX 50 INDEX GROSS    12140.66
26         KOSPI Composite Index     3099.69
27           TSEC weighted index    16452.18
28       S&P/TSX Composite index    18484.53
29                      IBOVESPA   115667.78
30                    IPC MEXICO    45151.38
31                  S&P/CLX IPSA     5058.88
32                        MERVAL    38390.84
33                        TA-125     1617.20
34     EGX 30 Price Return Index    11564.80
35      Top 40 USD Net TRI Index     4529.05

[['코스피', 3099.69],
 ['다우산업', 31961.86],
 ['나스닥 종합', 13597.97],
 ['S&P500', 3925.43],
 ['항셍지수', 30074.17]]

In [2]:
type(MarkerList)

list

In [3]:
MarkerList = pd.DataFrame(MarkerList)
MarkerList

        0                                                1
0     코스피   26    3099.69
Name: Last Price, dtype: float64
1    다우산업   1    31961.86
Name: Last Price, dtype: float64
2  나스닥 종합   2    13597.97
Name: Last Price, dtype: float64
3  S&P500    0    3925.43
Name: Last Price, dtype: float64
4    항셍지수  16    30074.17
Name: Last Price, dtype: float64
5     코스닥     Series([], Name: Last Price, dtype: float64)

In [6]:
majorStockIdx[majorStockIdx['Name']=='KOSPI Composite Index']['Last Price'].iloc[0]

3099.69

In [ ]:
df = pd.read_html('https://finance.yahoo.com/quote/%5EKQ11?p=^KQ11&.tsrc=fin-srch')